<h1 style="color:blue">Reshape dataframe using stack/unstack</h1>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [6]:
import pandas as pd
df = pd.read_excel("/content/drive/My Drive/pandas/pandas/12_stack/stocks.xlsx",header=[0,1],index_col=[0])
df

              Price         ... Price to earnings ratio (P/E)
Company    Facebook Google  ...                        Google Microsoft
2017-06-05      155    955  ...                          32.0     30.31
2017-06-06      150    987  ...                          31.3     30.56
2017-06-07      153    963  ...                          31.7     30.46
2017-06-08      155   1000  ...                          31.2     30.11
2017-06-09      156   1012  ...                          30.0     31.00

[5 rows x 6 columns]

In [7]:
df.stack()

                      Price  Price to earnings ratio (P/E)
           Company
2017-06-05 Facebook     155                          37.10
           Google       955                          32.00
           Microsoft     66                          30.31
2017-06-06 Facebook     150                          36.98
           Google       987                          31.30
           Microsoft     69                          30.56
2017-06-07 Facebook     153                          36.78
           Google       963                          31.70
           Microsoft     62                          30.46
2017-06-08 Facebook     155                          36.11
           Google      1000                          31.20
           Microsoft     61                          30.11
2017-06-09 Facebook     156                          37.07
           Google      1012                          30.00
           Microsoft     66                          31.00

In [8]:
df.stack(level=0)

Company                                   Facebook  Google  Microsoft
2017-06-05 Price                            155.00   955.0      66.00
           Price to earnings ratio (P/E)     37.10    32.0      30.31
2017-06-06 Price                            150.00   987.0      69.00
           Price to earnings ratio (P/E)     36.98    31.3      30.56
2017-06-07 Price                            153.00   963.0      62.00
           Price to earnings ratio (P/E)     36.78    31.7      30.46
2017-06-08 Price                            155.00  1000.0      61.00
           Price to earnings ratio (P/E)     36.11    31.2      30.11
2017-06-09 Price                            156.00  1012.0      66.00
           Price to earnings ratio (P/E)     37.07    30.0      31.00

In [9]:
df_stacked=df.stack()
df_stacked

                      Price  Price to earnings ratio (P/E)
           Company
2017-06-05 Facebook     155                          37.10
           Google       955                          32.00
           Microsoft     66                          30.31
2017-06-06 Facebook     150                          36.98
           Google       987                          31.30
           Microsoft     69                          30.56
2017-06-07 Facebook     153                          36.78
           Google       963                          31.70
           Microsoft     62                          30.46
2017-06-08 Facebook     155                          36.11
           Google      1000                          31.20
           Microsoft     61                          30.11
2017-06-09 Facebook     156                          37.07
           Google      1012                          30.00
           Microsoft     66                          31.00

In [10]:
df_stacked.unstack()

              Price         ... Price to earnings ratio (P/E)
Company    Facebook Google  ...                        Google Microsoft
2017-06-05      155    955  ...                          32.0     30.31
2017-06-06      150    987  ...                          31.3     30.56
2017-06-07      153    963  ...                          31.7     30.46
2017-06-08      155   1000  ...                          31.2     30.11
2017-06-09      156   1012  ...                          30.0     31.00

[5 rows x 6 columns]

<h1 style="color:blue">3 levels of column headers</h1>

In [12]:
df2 = pd.read_excel("/content/drive/My Drive/pandas/pandas/12_stack/stocks_3_levels.xlsx",header=[0,1,2],index_col=[0])
df2

        Price Ratios                   ... Income Statement
               Price                   ...       Net Profit
Company     Facebook Google Microsoft  ...         Facebook Google Microsoft
Q1 2016          155    955        66  ...             0.80   5.43      4.56
Q2 2016          150    987        69  ...             0.97   5.89      5.10
Q3 2016          153    963        62  ...             1.20   6.10      5.43
Q4 2016          155   1000        61  ...             1.67   6.50      5.89
Q1 2017          156   1012        66  ...             2.03   6.40      6.09

[5 rows x 12 columns]

In [13]:
df2.stack()

                  Income Statement  ...                  Price Ratios
                        Net Profit  ... Price to earnings ratio (P/E)
        Company                     ...
Q1 2016 Facebook              0.80  ...                         37.10
        Google                5.43  ...                         32.00
        Microsoft             4.56  ...                         30.31
Q2 2016 Facebook              0.97  ...                         36.98
        Google                5.89  ...                         31.30
        Microsoft             5.10  ...                         30.56
Q3 2016 Facebook              1.20  ...                         36.78
        Google                6.10  ...                         31.70
        Microsoft             5.43  ...                         30.46
Q4 2016 Facebook              1.67  ...                         36.11
        Google                6.50  ...                         31.20
        Microsoft             5.89  ...                         30.11
Q1 2017 Facebook              2.03  ...                         37.07
        Google                6.40  ...                         30.00
        Microsoft             6.09  ...                         31.00

[15 rows x 4 columns]

In [14]:
df2.stack(level=0)

                         Net Profit         ... Price to earnings ratio (P/E)
Company                    Facebook Google  ...                        Google Microsoft
Q1 2016 Income Statement       0.80   5.43  ...                           NaN       NaN
        Price Ratios            NaN    NaN  ...                          32.0     30.31
Q2 2016 Income Statement       0.97   5.89  ...                           NaN       NaN
        Price Ratios            NaN    NaN  ...                          31.3     30.56
Q3 2016 Income Statement       1.20   6.10  ...                           NaN       NaN
        Price Ratios            NaN    NaN  ...                          31.7     30.46
Q4 2016 Income Statement       1.67   6.50  ...                           NaN       NaN
        Price Ratios            NaN    NaN  ...                          31.2     30.11
Q1 2017 Income Statement       2.03   6.40  ...                           NaN       NaN
        Price Ratios            NaN    NaN  ...                          30.0     31.00

[10 rows x 12 columns]

In [15]:
df2.stack(level=1)

                                      Income Statement         ... Price Ratios
Company                                       Facebook Google  ...       Google Microsoft
Q1 2016 Net Profit                                0.80   5.43  ...          NaN       NaN
        Net Sales                                 2.60  20.00  ...          NaN       NaN
        Price                                      NaN    NaN  ...        955.0     66.00
        Price to earnings ratio (P/E)              NaN    NaN  ...         32.0     30.31
Q2 2016 Net Profit                                0.97   5.89  ...          NaN       NaN
        Net Sales                                 3.10  22.00  ...          NaN       NaN
        Price                                      NaN    NaN  ...        987.0     69.00
        Price to earnings ratio (P/E)              NaN    NaN  ...         31.3     30.56
Q3 2016 Net Profit                                1.20   6.10  ...          NaN       NaN
        Net Sales                                 4.30  24.00  ...          NaN       NaN
        Price                                      NaN    NaN  ...        963.0     62.00
        Price to earnings ratio (P/E)              NaN    NaN  ...         31.7     30.46
Q4 2016 Net Profit                                1.67   6.50  ...          NaN       NaN
        Net Sales                                 6.70  26.00  ...          NaN       NaN
        Price                                      NaN    NaN  ...       1000.0     61.00
        Price to earnings ratio (P/E)              NaN    NaN  ...         31.2     30.11
Q1 2017 Net Profit                                2.03   6.40  ...          NaN       NaN
        Net Sales                                 8.10  31.00  ...          NaN       NaN
        Price                                      NaN    NaN  ...       1012.0     66.00
        Price to earnings ratio (P/E)              NaN    NaN  ...         30.0     31.00

[20 rows x 6 columns]

In [16]:
df2.stack(level=2)

                  Income Statement  ...                  Price Ratios
                        Net Profit  ... Price to earnings ratio (P/E)
        Company                     ...
Q1 2016 Facebook              0.80  ...                         37.10
        Google                5.43  ...                         32.00
        Microsoft             4.56  ...                         30.31
Q2 2016 Facebook              0.97  ...                         36.98
        Google                5.89  ...                         31.30
        Microsoft             5.10  ...                         30.56
Q3 2016 Facebook              1.20  ...                         36.78
        Google                6.10  ...                         31.70
        Microsoft             5.43  ...                         30.46
Q4 2016 Facebook              1.67  ...                         36.11
        Google                6.50  ...                         31.20
        Microsoft             5.89  ...                         30.11
Q1 2017 Facebook              2.03  ...                         37.07
        Google                6.40  ...                         30.00
        Microsoft             6.09  ...                         31.00

[15 rows x 4 columns]