## <font color="purple"><h4 align="center">Read/Write CSV and Excel Files in Pandas</font>

### <font color="blue">Read CSV</color>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stock_data.csv")
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [2]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stock_data.csv", skiprows=1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [3]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stock_data.csv", header=1) # skiprows and header are kind of same
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [4]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stock_data.csv", header=None, names = ["ticker","eps","revenue","people"])
df

                ticker      eps revenue         people
tickers            eps  revenue   price         people
GOOGL            27.82       87     845     larry page
WMT               4.61      484      65           n.a.
MSFT                -1       85      64     bill gates
RIL      not available       50    1023  mukesh ambani
TATA               5.6       -1    n.a.     ratan tata

In [5]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stock_data.csv",  nrows=2)
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.

In [6]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stock_data.csv", na_values=["n.a.", "not available"])
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [7]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stock_data.csv",  na_values={
        'eps': ['not available'],
        'revenue': [-1],
        'people': ['not available','n.a.']
    })
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

### <font color="blue">Write to CSV</color>

In [0]:
df.to_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/new.csv", index=False)

In [9]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [0]:
df.to_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/new.csv",header=False)

In [0]:
df.to_csv("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/new.csv", columns=["tickers","price"], index=False)

### <font color="blue">Read Excel</color>

In [12]:
df = pd.read_excel("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stock_data.xlsx","Sheet1")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [13]:
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'Sam Walton'
    return cell

def convert_price_cell(cell):
    if cell=="n.a.":
        return 50
    return cell
    
df = pd.read_excel("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stock_data.xlsx","Sheet1", converters= {
        'people': convert_people_cell,
        'price': convert_price_cell
    })
df

  tickers            eps  revenue  price         people
0   GOOGL          27.82       87    845     larry page
1     WMT           4.61      484     65     Sam Walton
2    MSFT             -1       85     64     bill gates
3    RIL   not available       50   1023  mukesh ambani
4    TATA            5.6       -1     50     ratan tata

### <font color="blue">Write to Excel</color>

In [0]:
df.to_excel("/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/new.xlsx", sheet_name="stocks", index=False, startrow=2, startcol=1)

**Write two dataframes to two separate sheets in excel**

In [0]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [0]:
with pd.ExcelWriter('/content/drive/My Drive/Colab Notebooks/pandas/4_read_write_to_excel/stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")