In [2]:
import pandas as pd

In [3]:
data_url = 'http://bit.ly/2cLzoxH'
# read data from url as pandas dataframe
df = pd.read_csv(data_url)
# print the first three rows
df.head(3)

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710

#  Sort Pandas Dataframe based on the values of a column

In [6]:
sort_by_life = df.sort_values('lifeExp')
df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [7]:
sort_by_life = df.sort_values('lifeExp',inplace=True)
df

              country  year          pop continent  lifeExp     gdpPercap
1292           Rwanda  1992    7290203.0    Africa   23.599    737.068595
0         Afghanistan  1952    8425333.0      Asia   28.801    779.445314
552            Gambia  1952     284320.0    Africa   30.000    485.230659
36             Angola  1952    4232095.0    Africa   30.015   3520.610273
1344     Sierra Leone  1952    2143249.0    Africa   30.331    879.787736
...               ...   ...          ...       ...      ...           ...
1487      Switzerland  2007    7554661.0    Europe   81.701  37506.419070
695           Iceland  2007     301931.0    Europe   81.757  36180.789190
802             Japan  2002  127065841.0      Asia   82.000  28604.591900
671   Hong Kong China  2007    6980412.0      Asia   82.208  39724.978670
803             Japan  2007  127467972.0      Asia   82.603  31656.068060

[1704 rows x 6 columns]

# Sort Pandas Dataframe based on the values of a column (Descending order)

In [8]:
df=sort_by_life = df.sort_values('lifeExp',ascending=False)
df

              country  year          pop continent  lifeExp     gdpPercap
803             Japan  2007  127467972.0      Asia   82.603  31656.068060
671   Hong Kong China  2007    6980412.0      Asia   82.208  39724.978670
802             Japan  2002  127065841.0      Asia   82.000  28604.591900
695           Iceland  2007     301931.0    Europe   81.757  36180.789190
1487      Switzerland  2007    7554661.0    Europe   81.701  37506.419070
...               ...   ...          ...       ...      ...           ...
1344     Sierra Leone  1952    2143249.0    Africa   30.331    879.787736
36             Angola  1952    4232095.0    Africa   30.015   3520.610273
552            Gambia  1952     284320.0    Africa   30.000    485.230659
0         Afghanistan  1952    8425333.0      Asia   28.801    779.445314
1292           Rwanda  1992    7290203.0    Africa   23.599    737.068595

[1704 rows x 6 columns]

# Sort Pandas Dataframe based on a column and put missing values first?

In [9]:
df=sort_na_first = df.sort_values('lifeExp',na_position='first')

In [10]:
df

              country  year          pop continent  lifeExp     gdpPercap
1292           Rwanda  1992    7290203.0    Africa   23.599    737.068595
0         Afghanistan  1952    8425333.0      Asia   28.801    779.445314
552            Gambia  1952     284320.0    Africa   30.000    485.230659
36             Angola  1952    4232095.0    Africa   30.015   3520.610273
1344     Sierra Leone  1952    2143249.0    Africa   30.331    879.787736
...               ...   ...          ...       ...      ...           ...
1487      Switzerland  2007    7554661.0    Europe   81.701  37506.419070
695           Iceland  2007     301931.0    Europe   81.757  36180.789190
802             Japan  2002  127065841.0      Asia   82.000  28604.591900
671   Hong Kong China  2007    6980412.0      Asia   82.208  39724.978670
803             Japan  2007  127467972.0      Asia   82.603  31656.068060

[1704 rows x 6 columns]

# Sort Pandas Dataframe based on Index (in place)

In [11]:
df.sort_index(inplace=True)

In [12]:
df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

# Sort Pandas Dataframe Based on the Values of Multiple Columns

In [13]:
df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [14]:
df=sort_by_life_gdp = df.sort_values(['lifeExp','gdpPercap'])

In [15]:
df

              country  year          pop continent  lifeExp     gdpPercap
1292           Rwanda  1992    7290203.0    Africa   23.599    737.068595
0         Afghanistan  1952    8425333.0      Asia   28.801    779.445314
552            Gambia  1952     284320.0    Africa   30.000    485.230659
36             Angola  1952    4232095.0    Africa   30.015   3520.610273
1344     Sierra Leone  1952    2143249.0    Africa   30.331    879.787736
...               ...   ...          ...       ...      ...           ...
1487      Switzerland  2007    7554661.0    Europe   81.701  37506.419070
695           Iceland  2007     301931.0    Europe   81.757  36180.789190
802             Japan  2002  127065841.0      Asia   82.000  28604.591900
671   Hong Kong China  2007    6980412.0      Asia   82.208  39724.978670
803             Japan  2007  127467972.0      Asia   82.603  31656.068060

[1704 rows x 6 columns]

In [16]:
df.sort_index(inplace=True)

In [18]:
sort_by_life_gdp = df.sort_values(['gdpPercap','lifeExp'])

In [19]:
sort_by_life_gdp

             country  year         pop continent  lifeExp      gdpPercap
334  Congo Dem. Rep.  2002  55379852.0    Africa   44.966     241.165877
335  Congo Dem. Rep.  2007  64606759.0    Africa   46.462     277.551859
876          Lesotho  1952    748747.0    Africa   42.138     298.846212
624    Guinea-Bissau  1952    580653.0    Africa   32.500     299.850319
333  Congo Dem. Rep.  1997  47798986.0    Africa   42.587     312.188423
..               ...   ...         ...       ...      ...            ...
855           Kuwait  1967    575003.0      Asia   64.624   80894.883260
854           Kuwait  1962    358266.0      Asia   60.470   95458.111760
852           Kuwait  1952    160000.0      Asia   55.565  108382.352900
856           Kuwait  1972    841934.0      Asia   67.712  109347.867000
853           Kuwait  1957    212846.0      Asia   58.033  113523.132900

[1704 rows x 6 columns]