<!DOCTYPE html>
<html>
<body>
<div align="center">

    
<h1>Pandas - Series & Dataframes</h1>


</body>
</html>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re
import math

# Series

## Create Series

In [ ]:
# Create series from Nump Array
v = np.array([1,2,3,4,5,6,7])
s1 = pd.Series(v)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [ ]:
#Datatype of Series
s1.dtype

dtype('int32')

In [ ]:
# number of bytes allocated to each item
s1.itemsize

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Series.itemsize is deprecated and will be removed in a future version

4

In [ ]:
# Number of bytes consumed by Series
s1.nbytes

28

In [ ]:
# Shape of the Series
s1.shape

(7,)

In [ ]:
# number of dimensions
s1.ndim

1

In [ ]:
# Length of Series
len(s1)

7

In [ ]:
s1.count()

7

In [ ]:
s1.size

7

In [ ]:
# Create series from List 
s0 = pd.Series([1,2,3],index = ['a','b','c'])
s0

a    1
b    2
c    3
dtype: int64

In [ ]:
# Modifying index in Series
s1.index = ['a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g']
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [ ]:
# Create Series using Random and Range function
v2 = np.random.random(10)
ind2 = np.arange(0,10)
s = pd.Series(v2,ind2)
v2 , ind2 , s

(array([0.87790351, 0.21256923, 0.2833476 , 0.84976498, 0.17274437,
        0.36953613, 0.92661933, 0.13005525, 0.25394528, 0.43563311]),
 array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 0    0.877904
 1    0.212569
 2    0.283348
 3    0.849765
 4    0.172744
 5    0.369536
 6    0.926619
 7    0.130055
 8    0.253945
 9    0.435633
 dtype: float64)

In [ ]:
# Creating Series from Dictionary
dict1 = {'a1' :10 , 'a2' :20 , 'a3':30 , 'a4':40}
s3 = pd.Series(dict1)
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [ ]:
pd.Series(99, index=[0, 1, 2, 3, 4, 5])

0    99
1    99
2    99
3    99
4    99
5    99
dtype: int64

## Slicing Series

In [ ]:
s

0    0.877904
1    0.212569
2    0.283348
3    0.849765
4    0.172744
5    0.369536
6    0.926619
7    0.130055
8    0.253945
9    0.435633
dtype: float64

In [ ]:
# Return all elements of the series
s[:]

0    0.877904
1    0.212569
2    0.283348
3    0.849765
4    0.172744
5    0.369536
6    0.926619
7    0.130055
8    0.253945
9    0.435633
dtype: float64

In [ ]:
# First three element of the Series
s[0:3]

0    0.877904
1    0.212569
2    0.283348
dtype: float64

In [ ]:
# Last element of the Series
s[-1:]

9    0.435633
dtype: float64

In [ ]:
# Fetch first 4 elements in a series
s[:4]

0    0.877904
1    0.212569
2    0.283348
3    0.849765
dtype: float64

In [ ]:
# Return all elements of the series except last two elements.
s[:-2]

0    0.877904
1    0.212569
2    0.283348
3    0.849765
4    0.172744
5    0.369536
6    0.926619
7    0.130055
dtype: float64

In [ ]:
# Return all elements of the series except last element.
s[:-1]

0    0.877904
1    0.212569
2    0.283348
3    0.849765
4    0.172744
5    0.369536
6    0.926619
7    0.130055
8    0.253945
dtype: float64

In [ ]:
# Return last two elements of the series
s[-2:]

8    0.253945
9    0.435633
dtype: float64

In [ ]:
# # Return last element of the series
s[-1:]

9    0.435633
dtype: float64

In [ ]:
s[-3:-1]

7    0.130055
8    0.253945
dtype: float64

## Append Series

In [ ]:
s2 = s1.copy()
s2

0    10
1    20
2    30
dtype: int32

In [ ]:
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [ ]:
# Append S2 & S3 Series
s4 = s2.append(s3)
s4

0     10
1     20
2     30
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [ ]:
# When "inplace=False" it will return a new copy of data with the operation performed
s4.drop('a4' , inplace=False)

0     10
1     20
2     30
a1    10
a2    20
a3    30
dtype: int64

In [ ]:
s4

0     10
1     20
2     30
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [ ]:
# When we use "inplace=True" it will affect the dataframe
s4.drop('a4', inplace=True)
s4

0     10
1     20
2     30
a1    10
a2    20
a3    30
dtype: int64

In [ ]:
s4 = s4.append(pd.Series({'a4': 7}))
s4

0     10
1     20
2     30
a1    10
a2    20
a3    30
a4     7
dtype: int64

## Operation on Series

In [ ]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1) 
s2 = pd.Series(v2)
s1 , s2

(0    10
 1    20
 2    30
 dtype: int32, 0    1
 1    2
 2    3
 dtype: int32)

In [ ]:
# Addition of two series
s1.add(s2)

0    11
1    22
2    33
dtype: int32

In [ ]:
# Subtraction of two series
s1.sub(s2)

0     9
1    18
2    27
dtype: int32

In [ ]:
# Subtraction of two series
s1.subtract(s2)

0     9
1    18
2    27
dtype: int32

In [ ]:
# Increment all numbers in a series by 9
s1.add(9)

0    19
1    29
2    39
dtype: int32

In [ ]:
# Multiplication of two series
s1.mul(s2)

0    10
1    40
2    90
dtype: int32

In [ ]:
# Multiplication of two series
s1.multiply(s2)

0    10
1    40
2    90
dtype: int32

In [ ]:
# Multiply each element by 1000
s1.multiply(1000)

0    10000
1    20000
2    30000
dtype: int32

In [ ]:
# Division
s1.divide(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [ ]:
# Division
s1.div(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [ ]:
# MAX number in a series
s1.max()

30

In [ ]:
# Min number in a series
s1.min()

10

In [ ]:
# Average
s1.mean()

20.0

In [ ]:
# Median
s1.median()

20.0

In [ ]:
# Standard Deviation
s1.std()

10.0

In [ ]:
# Series comparison
s1.equals(s2)

False

In [ ]:
s4 =s1

In [ ]:
# Series comparison
s1.equals(s4)

True

In [ ]:
s5 = pd.Series([1,1,2,2,3,3], index=[0, 1, 2, 3, 4, 5])
s5

0    1
1    1
2    2
3    2
4    3
5    3
dtype: int64

In [ ]:
s5.value_counts()

3    2
2    2
1    2
dtype: int64

# DataFrame

## Create DataFrame

In [ ]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Create Dataframe using List
lang = ['Java' , 'Python' , 'C' , 'C++']
df = pd.DataFrame(lang)
df

        0
0    Java
1  Python
2       C
3     C++

In [ ]:
# Add column in the Dataframe
rating = [1,2,3,4]
df[1] = rating
df

        0  1
0    Java  1
1  Python  2
2       C  3
3     C++  4

In [ ]:
df.columns = ['Language','Rating']

In [ ]:
df

  Language  Rating
0     Java       1
1   Python       2
2        C       3
3      C++       4

In [ ]:
# Create Dataframe from Dictionary

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

df2 = pd.DataFrame(data)
df3 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b'])
df4 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b' ,'c'])
df5 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b' ,'c' , 'd'])

In [ ]:
df2

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
df3

      a   b
row1  1   2
row2  5  10

In [ ]:
df4

      a   b     c
row1  1   2   NaN
row2  5  10  20.0

In [ ]:
df5

      a   b     c   d
row1  1   2   NaN NaN
row2  5  10  20.0 NaN

In [ ]:
# Create Dataframe from Dictionary
df0 = pd.DataFrame({'ID' :[1,2,3,4] , 'Name' :['Asif' , 'Basit' , 'Ross' , 'John']})
df0

   ID   Name
0   1   Asif
1   2  Basit
2   3   Ross
3   4   John

In [ ]:
# Create a DataFrame from Dictionary of Series
dict = {'A' : pd.Series([1, 2, 3],    index=['a', 'b', 'c']),
        'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df1 = pd.DataFrame(dict)
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

#### Dataframe of Random Numbers with Date Indices

In [ ]:
dates = pd.date_range(start='2020-01-20', end='2020-01-26')
dates

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
dates = pd.date_range('today',periods= 7)
dates

DatetimeIndex(['2020-03-26 21:12:28.054030', '2020-03-27 21:12:28.054030',
               '2020-03-28 21:12:28.054030', '2020-03-29 21:12:28.054030',
               '2020-03-30 21:12:28.054030', '2020-03-31 21:12:28.054030',
               '2020-04-01 21:12:28.054030'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
dates = pd.date_range(start='2020-01-20', periods=7)
dates

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
M = np.random.random((7,7))
M

array([[0.4622746 , 0.89035943, 0.71642701, 0.84377142, 0.49755232,
        0.11045011, 0.58396628],
       [0.17482429, 0.87319772, 0.45684689, 0.84031995, 0.78331096,
        0.31403177, 0.47437109],
       [0.93515504, 0.54242672, 0.22759177, 0.96704986, 0.56430298,
        0.57963586, 0.65763753],
       [0.75272979, 0.96463094, 0.4276211 , 0.25767407, 0.55057963,
        0.32127381, 0.39603304],
       [0.0319823 , 0.05349957, 0.77580459, 0.03393895, 0.0837259 ,
        0.71941967, 0.61385342],
       [0.34172216, 0.4961929 , 0.06987849, 0.27205465, 0.66536559,
        0.44655804, 0.28030833],
       [0.05618655, 0.29012725, 0.12826893, 0.62608765, 0.79321883,
        0.22290462, 0.52250865]])

In [ ]:
dframe = pd.DataFrame(M , index=dates)
dframe

,0,1,2,3,4,5,6
2020-01-20,0.462275,0.890359,0.716427,0.843771,0.497552,0.110450,0.583966
2020-01-21,0.174824,0.873198,0.456847,0.840320,0.783311,0.314032,0.474371
2020-01-22,0.935155,0.542427,0.227592,0.967050,0.564303,0.579636,0.657638
2020-01-23,0.752730,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033
2020-01-24,0.031982,0.053500,0.775805,0.033939,0.083726,0.719420,0.613853
2020-01-25,0.341722,0.496193,0.069878,0.272055,0.665366,0.446558,0.280308
2020-01-26,0.056187,0.290127,0.128269,0.626088,0.793219,0.222905,0.522509

In [ ]:
#Changing Column Names
dframe.columns = ['C1' , 'C2' , 'C3', 'C4', 'C5', 'C6', 'C7']
dframe

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,0.462275,0.890359,0.716427,0.843771,0.497552,0.110450,0.583966
2020-01-21,0.174824,0.873198,0.456847,0.840320,0.783311,0.314032,0.474371
2020-01-22,0.935155,0.542427,0.227592,0.967050,0.564303,0.579636,0.657638
2020-01-23,0.752730,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033
2020-01-24,0.031982,0.053500,0.775805,0.033939,0.083726,0.719420,0.613853
2020-01-25,0.341722,0.496193,0.069878,0.272055,0.665366,0.446558,0.280308
2020-01-26,0.056187,0.290127,0.128269,0.626088,0.793219,0.222905,0.522509

In [ ]:
# List Index
dframe.index

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# List Column Names
dframe.columns

Index(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7'], dtype='object')

In [ ]:
# Datatype of each column
dframe.dtypes

C1    float64
C2    float64
C3    float64
C4    float64
C5    float64
C6    float64
C7    float64
dtype: object

In [ ]:
# Sort Dataframe by Column 'C1' in Ascending Order
dframe.sort_values(by='C1')

,C1,C2,C3,C4,C5,C6,C7
2020-01-24,0.031982,0.053500,0.775805,0.033939,0.083726,0.719420,0.613853
2020-01-26,0.056187,0.290127,0.128269,0.626088,0.793219,0.222905,0.522509
2020-01-21,0.174824,0.873198,0.456847,0.840320,0.783311,0.314032,0.474371
2020-01-25,0.341722,0.496193,0.069878,0.272055,0.665366,0.446558,0.280308
2020-01-20,0.462275,0.890359,0.716427,0.843771,0.497552,0.110450,0.583966
2020-01-23,0.752730,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033
2020-01-22,0.935155,0.542427,0.227592,0.967050,0.564303,0.579636,0.657638

In [ ]:
# Sort Dataframe by Column 'C1' in Descending Order
dframe.sort_values(by='C1' , ascending=False)

,C1,C2,C3,C4,C5,C6,C7
2020-01-22,0.935155,0.542427,0.227592,0.967050,0.564303,0.579636,0.657638
2020-01-23,0.752730,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033
2020-01-20,0.462275,0.890359,0.716427,0.843771,0.497552,0.110450,0.583966
2020-01-25,0.341722,0.496193,0.069878,0.272055,0.665366,0.446558,0.280308
2020-01-21,0.174824,0.873198,0.456847,0.840320,0.783311,0.314032,0.474371
2020-01-26,0.056187,0.290127,0.128269,0.626088,0.793219,0.222905,0.522509
2020-01-24,0.031982,0.053500,0.775805,0.033939,0.083726,0.719420,0.613853

## Delete Column in DataFrame

In [ ]:
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [ ]:
# Delete Column using "del" function
del df1['B']

In [ ]:
df1

     A
a  1.0
b  2.0
c  3.0
d  NaN

In [ ]:
df5

      a   b     c   d
row1  1   2   NaN NaN
row2  5  10  20.0 NaN

In [ ]:
# Delete Column using pop()
df5.pop('c')

row1     NaN
row2    20.0
Name: c, dtype: float64

In [ ]:
df5

      a   b   d
row1  1   2 NaN
row2  5  10 NaN

## Data Selection in Dataframe

In [ ]:
df

  Language  Rating
0     Java       1
1   Python       2
2        C       3
3      C++       4

In [ ]:
df.index = [1,2,3,4]
df

  Language  Rating
1     Java       1
2   Python       2
3        C       3
4      C++       4

In [ ]:
# Data selection using row label
df.loc[1]

Language    Java
Rating         1
Name: 1, dtype: object

In [ ]:
# Data selection using position (Integer Index based)
df.iloc[1]

Language    Python
Rating           2
Name: 2, dtype: object

In [ ]:
df.loc[1:2]

  Language  Rating
1     Java       1
2   Python       2

In [ ]:
df.iloc[1:2]

  Language  Rating
2   Python       2

In [ ]:
# Data selection based on Condition
df.loc[df.Rating > 2]

  Language  Rating
3        C       3
4      C++       4

In [ ]:
df1

     A
a  1.0
b  2.0
c  3.0
d  NaN

In [ ]:
# Row & Column label based selection
df1.loc['a']

A    1.0
Name: a, dtype: float64

In [ ]:
df1.iloc['a'] # This will throw error because iloc will not work on labels

TypeError: cannot do positional indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [a] of <class 'str'>

In [ ]:
dframe

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,0.462275,0.890359,0.716427,0.843771,0.497552,0.110450,0.583966
2020-01-21,0.174824,0.873198,0.456847,0.840320,0.783311,0.314032,0.474371
2020-01-22,0.935155,0.542427,0.227592,0.967050,0.564303,0.579636,0.657638
2020-01-23,0.752730,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033
2020-01-24,0.031982,0.053500,0.775805,0.033939,0.083726,0.719420,0.613853
2020-01-25,0.341722,0.496193,0.069878,0.272055,0.665366,0.446558,0.280308
2020-01-26,0.056187,0.290127,0.128269,0.626088,0.793219,0.222905,0.522509

In [ ]:
# Data selection using Row Label
dframe['2020-01-20' : '2020-01-22' ]

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,0.462275,0.890359,0.716427,0.843771,0.497552,0.110450,0.583966
2020-01-21,0.174824,0.873198,0.456847,0.840320,0.783311,0.314032,0.474371
2020-01-22,0.935155,0.542427,0.227592,0.967050,0.564303,0.579636,0.657638

In [ ]:
# Selecting all rows & selected columns
dframe.loc[:,['C1' , 'C7']]

                  C1        C7
2020-01-20  0.462275  0.583966
2020-01-21  0.174824  0.474371
2020-01-22  0.935155  0.657638
2020-01-23  0.752730  0.396033
2020-01-24  0.031982  0.613853
2020-01-25  0.341722  0.280308
2020-01-26  0.056187  0.522509

In [ ]:
#row & column label based selection
dframe.loc['2020-01-20' : '2020-01-22',['C1' , 'C7']]

                  C1        C7
2020-01-20  0.462275  0.583966
2020-01-21  0.174824  0.474371
2020-01-22  0.935155  0.657638

In [ ]:
# Data selection based on Condition
dframe[dframe['C1'] > 0.5]

,C1,C2,C3,C4,C5,C6,C7
2020-01-22,0.935155,0.542427,0.227592,0.967050,0.564303,0.579636,0.657638
2020-01-23,0.752730,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033

In [ ]:
# Data selection based on Condition
dframe[(dframe['C1'] > 0.5) & (dframe['C4'] > 0.5)]

,C1,C2,C3,C4,C5,C6,C7
2020-01-22,0.935155,0.542427,0.227592,0.96705,0.564303,0.579636,0.657638

In [ ]:
# Data selection using position (Integer Index based)
dframe.iloc[0][0]

0.46227460203265247

In [ ]:
# Select all rows & first three columns
dframe.iloc[:,0:3]

                  C1        C2        C3
2020-01-20  0.462275  0.890359  0.716427
2020-01-21  0.174824  0.873198  0.456847
2020-01-22  0.935155  0.542427  0.227592
2020-01-23  0.752730  0.964631  0.427621
2020-01-24  0.031982  0.053500  0.775805
2020-01-25  0.341722  0.496193  0.069878
2020-01-26  0.056187  0.290127  0.128269

In [ ]:
dframe.iloc[0][0] = 10

In [ ]:
# Display all rows where C1 has value of 10 or 20
dframe[dframe['C1'].isin([10,20])]

              C1        C2        C3        C4        C5       C6        C7
2020-01-20  10.0  0.890359  0.716427  0.843771  0.497552  0.11045  0.583966

## Set Value

In [ ]:
# Set value of 888 for all elements in column 'C1'
dframe['C1'] = 888
dframe

             C1        C2        C3        C4        C5        C6        C7
2020-01-20  888  0.890359  0.716427  0.843771  0.497552  0.110450  0.583966
2020-01-21  888  0.873198  0.456847  0.840320  0.783311  0.314032  0.474371
2020-01-22  888  0.542427  0.227592  0.967050  0.564303  0.579636  0.657638
2020-01-23  888  0.964631  0.427621  0.257674  0.550580  0.321274  0.396033
2020-01-24  888  0.053500  0.775805  0.033939  0.083726  0.719420  0.613853
2020-01-25  888  0.496193  0.069878  0.272055  0.665366  0.446558  0.280308
2020-01-26  888  0.290127  0.128269  0.626088  0.793219  0.222905  0.522509

In [ ]:
# Set value of 777 for first three rows in Column 'C6'
dframe.at[0:3,'C6'] = 777

In [ ]:
dframe

             C1        C2        C3        C4        C5          C6        C7
2020-01-20  888  0.890359  0.716427  0.843771  0.497552  777.000000  0.583966
2020-01-21  888  0.873198  0.456847  0.840320  0.783311  777.000000  0.474371
2020-01-22  888  0.542427  0.227592  0.967050  0.564303  777.000000  0.657638
2020-01-23  888  0.964631  0.427621  0.257674  0.550580    0.321274  0.396033
2020-01-24  888  0.053500  0.775805  0.033939  0.083726    0.719420  0.613853
2020-01-25  888  0.496193  0.069878  0.272055  0.665366    0.446558  0.280308
2020-01-26  888  0.290127  0.128269  0.626088  0.793219    0.222905  0.522509

In [ ]:
# Set value of 333 in first row and third column
dframe.iat[0,2] = 333

In [ ]:
dframe

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,888,0.890359,333.000000,0.843771,0.497552,777.000000,0.583966
2020-01-21,888,0.873198,0.456847,0.840320,0.783311,777.000000,0.474371
2020-01-22,888,0.542427,0.227592,0.967050,0.564303,777.000000,0.657638
2020-01-23,888,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033
2020-01-24,888,0.053500,0.775805,0.033939,0.083726,0.719420,0.613853
2020-01-25,888,0.496193,0.069878,0.272055,0.665366,0.446558,0.280308
2020-01-26,888,0.290127,0.128269,0.626088,0.793219,0.222905,0.522509

In [ ]:
dframe.iloc[0,2] = 555
dframe

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,888,0.890359,555.000000,0.843771,0.497552,777.000000,0.583966
2020-01-21,888,0.873198,0.456847,0.840320,0.783311,777.000000,0.474371
2020-01-22,888,0.542427,0.227592,0.967050,0.564303,777.000000,0.657638
2020-01-23,888,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033
2020-01-24,888,0.053500,0.775805,0.033939,0.083726,0.719420,0.613853
2020-01-25,888,0.496193,0.069878,0.272055,0.665366,0.446558,0.280308
2020-01-26,888,0.290127,0.128269,0.626088,0.793219,0.222905,0.522509

In [ ]:
# Create Copy of the calling objects data along with indices.
# Modifications to the data or indices of the copy will not be reflected in the original object 
dframe1 = dframe.copy(deep=True)

In [ ]:
dframe1[(dframe1['C1'] > 0.5) & (dframe1['C4'] > 0.5)] = 0

In [ ]:
dframe1[dframe1['C1'] == 0]

            C1   C2   C3   C4   C5   C6   C7
2020-01-20   0  0.0  0.0  0.0  0.0  0.0  0.0
2020-01-21   0  0.0  0.0  0.0  0.0  0.0  0.0
2020-01-22   0  0.0  0.0  0.0  0.0  0.0  0.0
2020-01-26   0  0.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
# Replace zeros in Column C1 with 99
dframe1[dframe1['C1'].isin([0])] = 99
dframe1

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,99,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
2020-01-21,99,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
2020-01-22,99,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
2020-01-23,888,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033
2020-01-24,888,0.053500,0.775805,0.033939,0.083726,0.719420,0.613853
2020-01-25,888,0.496193,0.069878,0.272055,0.665366,0.446558,0.280308
2020-01-26,99,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000

In [ ]:
dframe

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,888,0.890359,555.000000,0.843771,0.497552,777.000000,0.583966
2020-01-21,888,0.873198,0.456847,0.840320,0.783311,777.000000,0.474371
2020-01-22,888,0.542427,0.227592,0.967050,0.564303,777.000000,0.657638
2020-01-23,888,0.964631,0.427621,0.257674,0.550580,0.321274,0.396033
2020-01-24,888,0.053500,0.775805,0.033939,0.083726,0.719420,0.613853
2020-01-25,888,0.496193,0.069878,0.272055,0.665366,0.446558,0.280308
2020-01-26,888,0.290127,0.128269,0.626088,0.793219,0.222905,0.522509

In [ ]:
# Display all rows where value of C1 is 99
dframe1[dframe1['C1'] == 99]

            C1    C2    C3    C4    C5    C6    C7
2020-01-20  99  99.0  99.0  99.0  99.0  99.0  99.0
2020-01-21  99  99.0  99.0  99.0  99.0  99.0  99.0
2020-01-22  99  99.0  99.0  99.0  99.0  99.0  99.0
2020-01-26  99  99.0  99.0  99.0  99.0  99.0  99.0

## Dealing with NULL Values

In [ ]:
dframe.at[0:8 , 'C7'] = np.NaN
dframe.at[0:2 , 'C6'] = np.NaN
dframe.at[5:6 , 'C5'] = np.NaN
dframe

             C1        C2          C3        C4        C5          C6  C7
2020-01-20  888  0.890359  555.000000  0.843771  0.497552         NaN NaN
2020-01-21  888  0.873198    0.456847  0.840320  0.783311         NaN NaN
2020-01-22  888  0.542427    0.227592  0.967050  0.564303  777.000000 NaN
2020-01-23  888  0.964631    0.427621  0.257674  0.550580    0.321274 NaN
2020-01-24  888  0.053500    0.775805  0.033939  0.083726    0.719420 NaN
2020-01-25  888  0.496193    0.069878  0.272055       NaN    0.446558 NaN
2020-01-26  888  0.290127    0.128269  0.626088  0.793219    0.222905 NaN

In [ ]:
# Detect Non-Missing Values
# It will return True for NOT-NULL values and False for NULL values
dframe.notna()

              C1    C2    C3    C4     C5     C6     C7
2020-01-20  True  True  True  True   True  False  False
2020-01-21  True  True  True  True   True  False  False
2020-01-22  True  True  True  True   True   True  False
2020-01-23  True  True  True  True   True   True  False
2020-01-24  True  True  True  True   True   True  False
2020-01-25  True  True  True  True  False   True  False
2020-01-26  True  True  True  True   True   True  False

In [ ]:
# Detect Missing or NULL Values
# It will return True for NULL values and False for NOT-NULL values
dframe.isna()

               C1     C2     C3     C4     C5     C6    C7
2020-01-20  False  False  False  False  False   True  True
2020-01-21  False  False  False  False  False   True  True
2020-01-22  False  False  False  False  False  False  True
2020-01-23  False  False  False  False  False  False  True
2020-01-24  False  False  False  False  False  False  True
2020-01-25  False  False  False  False   True  False  True
2020-01-26  False  False  False  False  False  False  True

In [ ]:
# Fill all NULL values with 1020
dframe = dframe.fillna(1020)
dframe

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,888,0.890359,555.000000,0.843771,0.497552,1020.000000,1020.0
2020-01-21,888,0.873198,0.456847,0.840320,0.783311,1020.000000,1020.0
2020-01-22,888,0.542427,0.227592,0.967050,0.564303,777.000000,1020.0
2020-01-23,888,0.964631,0.427621,0.257674,0.550580,0.321274,1020.0
2020-01-24,888,0.053500,0.775805,0.033939,0.083726,0.719420,1020.0
2020-01-25,888,0.496193,0.069878,0.272055,1020.000000,0.446558,1020.0
2020-01-26,888,0.290127,0.128269,0.626088,0.793219,0.222905,1020.0

In [ ]:
dframe.at[0:5 , 'C7'] = np.NaN
dframe.at[0:2 , 'C6'] = np.NaN
dframe.at[5:6 , 'C5'] = np.NaN
dframe

             C1        C2          C3        C4        C5          C6      C7
2020-01-20  888  0.890359  555.000000  0.843771  0.497552         NaN     NaN
2020-01-21  888  0.873198    0.456847  0.840320  0.783311         NaN     NaN
2020-01-22  888  0.542427    0.227592  0.967050  0.564303  777.000000     NaN
2020-01-23  888  0.964631    0.427621  0.257674  0.550580    0.321274     NaN
2020-01-24  888  0.053500    0.775805  0.033939  0.083726    0.719420     NaN
2020-01-25  888  0.496193    0.069878  0.272055       NaN    0.446558  1020.0
2020-01-26  888  0.290127    0.128269  0.626088  0.793219    0.222905  1020.0

In [ ]:
# Replace Null values in Column 'C5' with number 123
# Replace Null values in Column 'C6' with number 789
dframe.fillna(value={'C5' : 123 , 'C6' : 789})

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,888,0.890359,555.000000,0.843771,0.497552,789.000000,NaN
2020-01-21,888,0.873198,0.456847,0.840320,0.783311,789.000000,NaN
2020-01-22,888,0.542427,0.227592,0.967050,0.564303,777.000000,NaN
2020-01-23,888,0.964631,0.427621,0.257674,0.550580,0.321274,NaN
2020-01-24,888,0.053500,0.775805,0.033939,0.083726,0.719420,NaN
2020-01-25,888,0.496193,0.069878,0.272055,123.000000,0.446558,1020.0
2020-01-26,888,0.290127,0.128269,0.626088,0.793219,0.222905,1020.0

In [ ]:
#Replace first NULL value in Column C7 with 789
dframe.fillna(value={'C7' : 789} , limit=1)

             C1        C2          C3        C4        C5          C6      C7
2020-01-20  888  0.890359  555.000000  0.843771  0.497552         NaN   789.0
2020-01-21  888  0.873198    0.456847  0.840320  0.783311         NaN     NaN
2020-01-22  888  0.542427    0.227592  0.967050  0.564303  777.000000     NaN
2020-01-23  888  0.964631    0.427621  0.257674  0.550580    0.321274     NaN
2020-01-24  888  0.053500    0.775805  0.033939  0.083726    0.719420     NaN
2020-01-25  888  0.496193    0.069878  0.272055       NaN    0.446558  1020.0
2020-01-26  888  0.290127    0.128269  0.626088  0.793219    0.222905  1020.0

In [ ]:
# Drop Rows with NULL values
dframe.dropna()

             C1        C2        C3        C4        C5        C6      C7
2020-01-26  888  0.290127  0.128269  0.626088  0.793219  0.222905  1020.0

In [ ]:
# Drop Columns with NULL values
dframe.dropna(axis='columns')

             C1        C2          C3        C4
2020-01-20  888  0.890359  555.000000  0.843771
2020-01-21  888  0.873198    0.456847  0.840320
2020-01-22  888  0.542427    0.227592  0.967050
2020-01-23  888  0.964631    0.427621  0.257674
2020-01-24  888  0.053500    0.775805  0.033939
2020-01-25  888  0.496193    0.069878  0.272055
2020-01-26  888  0.290127    0.128269  0.626088

In [ ]:
dframe

             C1        C2          C3        C4        C5          C6      C7
2020-01-20  888  0.890359  555.000000  0.843771  0.497552         NaN     NaN
2020-01-21  888  0.873198    0.456847  0.840320  0.783311         NaN     NaN
2020-01-22  888  0.542427    0.227592  0.967050  0.564303  777.000000     NaN
2020-01-23  888  0.964631    0.427621  0.257674  0.550580    0.321274     NaN
2020-01-24  888  0.053500    0.775805  0.033939  0.083726    0.719420     NaN
2020-01-25  888  0.496193    0.069878  0.272055       NaN    0.446558  1020.0
2020-01-26  888  0.290127    0.128269  0.626088  0.793219    0.222905  1020.0

In [ ]:
# Drop Rows with NULL values present in C5 or C6
dframe.dropna(subset=['C5' ,'C6'])

             C1        C2        C3        C4        C5          C6      C7
2020-01-22  888  0.542427  0.227592  0.967050  0.564303  777.000000     NaN
2020-01-23  888  0.964631  0.427621  0.257674  0.550580    0.321274     NaN
2020-01-24  888  0.053500  0.775805  0.033939  0.083726    0.719420     NaN
2020-01-26  888  0.290127  0.128269  0.626088  0.793219    0.222905  1020.0

## Descriptive Statistics

In [ ]:
# Fill NULL values with 55
dframe.fillna(55 , inplace=True)
dframe

             C1        C2          C3        C4         C5          C6      C7
2020-01-20  888  0.890359  555.000000  0.843771   0.497552   55.000000    55.0
2020-01-21  888  0.873198    0.456847  0.840320   0.783311   55.000000    55.0
2020-01-22  888  0.542427    0.227592  0.967050   0.564303  777.000000    55.0
2020-01-23  888  0.964631    0.427621  0.257674   0.550580    0.321274    55.0
2020-01-24  888  0.053500    0.775805  0.033939   0.083726    0.719420    55.0
2020-01-25  888  0.496193    0.069878  0.272055  55.000000    0.446558  1020.0
2020-01-26  888  0.290127    0.128269  0.626088   0.793219    0.222905  1020.0

In [ ]:
# Mean of all Columns
dframe.mean()

C1    888.000000
C2      0.587205
C3     79.583716
C4      0.548700
C5      8.324670
C6    126.958594
C7    330.714286
dtype: float64

In [ ]:
# Max value per column
dframe.max()

C1     888.000000
C2       0.964631
C3     555.000000
C4       0.967050
C5      55.000000
C6     777.000000
C7    1020.000000
dtype: float64

In [ ]:
# Min value per column
dframe.min()

C1    888.000000
C2      0.053500
C3      0.069878
C4      0.033939
C5      0.083726
C6      0.222905
C7     55.000000
dtype: float64

In [ ]:
# Median 
dframe.median()

C1    888.000000
C2      0.542427
C3      0.427621
C4      0.626088
C5      0.564303
C6      0.719420
C7     55.000000
dtype: float64

In [ ]:
dframe.std() #Standard Deviation

C1      0.000000
C2      0.341450
C3    209.639012
C4      0.360398
C5     20.583237
C6    287.793467
C7    470.871785
dtype: float64

In [ ]:
dframe.var()  #Variance

C1         0.000000
C2         0.116588
C3     43948.515274
C4         0.129887
C5       423.669665
C6     82825.079704
C7    221720.238095
dtype: float64

In [ ]:
#Lower Quartile / First Quartile
dframe.quantile(0.25)

C1    888.000000
C2      0.393160
C3      0.177930
C4      0.264864
C5      0.524066
C6      0.383916
C7     55.000000
Name: 0.25, dtype: float64

In [ ]:
#Second Quartile / Median
dframe.quantile(0.50)

C1    888.000000
C2      0.542427
C3      0.427621
C4      0.626088
C5      0.564303
C6      0.719420
C7     55.000000
Name: 0.5, dtype: float64

In [ ]:
# Upper Quartile
dframe.quantile(0.75)

C1    888.000000
C2      0.881779
C3      0.616326
C4      0.842046
C5      0.788265
C6     55.000000
C7    537.500000
Name: 0.75, dtype: float64

In [ ]:
 #IQR (Interquartile Range)
dframe.quantile(0.75) - dframe.quantile(0.25)

C1      0.000000
C2      0.488618
C3      0.438395
C4      0.577181
C5      0.264199
C6     54.616084
C7    482.500000
dtype: float64

In [ ]:
# SUM of column values
dframe.sum()

C1    6216.000000
C2       4.110435
C3     557.086012
C4       3.840897
C5      58.272691
C6     888.710156
C7    2315.000000
dtype: float64

In [ ]:
# GENERATES DESCRIPTIVE STATS
dframe.describe()

,C1,C2,C3,C4,C5,C6,C7
count,7.0,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,888.0,0.587205,79.583716,0.548700,8.324670,126.958594,330.714286
std,0.0,0.341450,209.639012,0.360398,20.583237,287.793467,470.871785
min,888.0,0.053500,0.069878,0.033939,0.083726,0.222905,55.000000
25%,888.0,0.393160,0.177930,0.264864,0.524066,0.383916,55.000000
50%,888.0,0.542427,0.427621,0.626088,0.564303,0.719420,55.000000
75%,888.0,0.881779,0.616326,0.842046,0.788265,55.000000,537.500000
max,888.0,0.964631,555.000000,0.967050,55.000000,777.000000,1020.000000

In [ ]:
#Return unbiased skew
# https://www.youtube.com/watch?v=HnMGKsupF8Q
dframe.skew()

C1    0.000000
C2   -0.434127
C3    2.645744
C4   -0.289345
C5    2.645020
C6    2.602175
C7    1.229634
dtype: float64

In [ ]:
# Return unbiased kurtosis using Fisher’s definition of kurtosis
# https://www.youtube.com/watch?v=HnMGKsupF8Q
dframe.kurt()

C1    0.000000
C2   -1.128285
C3    6.999971
C4   -1.839310
C5    6.997064
C6    6.819785
C7   -0.840000
dtype: float64

In [ ]:
#Correlation
# https://www.youtube.com/watch?v=qtaqvPAeEJY&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=10
# https://www.youtube.com/watch?v=xZ_z8KWkhXE&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=11
dframe.corr()

    C1        C2        C3        C4        C5        C6        C7
C1 NaN       NaN       NaN       NaN       NaN       NaN       NaN
C2 NaN  1.000000  0.391336  0.435022 -0.112135 -0.004680 -0.388220
C3 NaN  0.391336  1.000000  0.360583 -0.168275 -0.110496 -0.259009
C4 NaN  0.435022  0.360583  1.000000 -0.331306  0.573266 -0.188844
C5 NaN -0.112135 -0.168275 -0.331306  1.000000 -0.193131  0.649566
C6 NaN -0.004680 -0.110496  0.573266 -0.193131  1.000000 -0.300565
C7 NaN -0.388220 -0.259009 -0.188844  0.649566 -0.300565  1.000000

In [ ]:
#Covariance
# https://www.youtube.com/watch?v=qtaqvPAeEJY&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=10
# https://www.youtube.com/watch?v=xZ_z8KWkhXE&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=11
dframe.cov()

,C1,C2,C3,C4,C5,C6,C7
C1,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
C2,0.0,0.116588,28.012348,0.053533,-0.788101,-0.459855,-62.417763
C3,0.0,28.012348,43948.515274,27.243357,-726.113997,-6666.522658,-25567.559926
C4,0.0,0.053533,27.243357,0.129887,-2.457682,59.459365,-32.047122
C5,0.0,-0.788101,-726.113997,-2.457682,423.669665,-1144.055556,6295.640483
C6,0.0,-0.459855,-6666.522658,59.459365,-1144.055556,82825.079704,-40730.675740
C7,0.0,-62.417763,-25567.559926,-32.047122,6295.640483,-40730.675740,221720.238095

In [ ]:
import statistics as st
dframe.at[3:6,'C1'] = 22
dframe

             C1        C2          C3        C4         C5          C6      C7
2020-01-20  888  0.890359  555.000000  0.843771   0.497552   55.000000    55.0
2020-01-21  888  0.873198    0.456847  0.840320   0.783311   55.000000    55.0
2020-01-22  888  0.542427    0.227592  0.967050   0.564303  777.000000    55.0
2020-01-23   22  0.964631    0.427621  0.257674   0.550580    0.321274    55.0
2020-01-24   22  0.053500    0.775805  0.033939   0.083726    0.719420    55.0
2020-01-25   22  0.496193    0.069878  0.272055  55.000000    0.446558  1020.0
2020-01-26  888  0.290127    0.128269  0.626088   0.793219    0.222905  1020.0

In [ ]:
# Average 
st.mean(dframe['C1'])

516.8571428571429

In [ ]:
# Hormonic Mean
st.harmonic_mean(dframe['C1'])

49.69186046511628

In [ ]:
#Returns average of the two middle numbers when length is EVEN
arr = np.array([1,2,3,4,5,6,7,8])
st.median(arr)

4.5

In [ ]:
# low median of the data with EVEN length
st.median_low(arr)

4

In [ ]:
# High median of the data with EVEN length
st.median_high(arr)

5

In [ ]:
# Mode of Dataset
st.mode(dframe['C7'])

55.0

In [ ]:
# Sample Variance
st.variance(dframe['C1'])

214273.14285714287

In [ ]:
#Population Variance
st.pvariance(dframe['C1'])

183662.69387755104

In [ ]:
#Sample  Standard Deviation
st.stdev(dframe['C1'])

462.89647099231905

In [ ]:
#Population Standard Deviation
st.pstdev(dframe['C1'])

428.5588569584708

## Apply function on Dataframe

In [ ]:
dframe

             C1        C2          C3        C4         C5          C6      C7
2020-01-20  888  0.890359  555.000000  0.843771   0.497552   55.000000    55.0
2020-01-21  888  0.873198    0.456847  0.840320   0.783311   55.000000    55.0
2020-01-22  888  0.542427    0.227592  0.967050   0.564303  777.000000    55.0
2020-01-23   22  0.964631    0.427621  0.257674   0.550580    0.321274    55.0
2020-01-24   22  0.053500    0.775805  0.033939   0.083726    0.719420    55.0
2020-01-25   22  0.496193    0.069878  0.272055  55.000000    0.446558  1020.0
2020-01-26  888  0.290127    0.128269  0.626088   0.793219    0.222905  1020.0

In [ ]:
# Finding MAX value in Columns
dframe.apply(max)

C1     888.000000
C2       0.964631
C3     555.000000
C4       0.967050
C5      55.000000
C6     777.000000
C7    1020.000000
dtype: float64

In [ ]:
# Finding minimum value in Columns
dframe.apply(min)

C1    22.000000
C2     0.053500
C3     0.069878
C4     0.033939
C5     0.083726
C6     0.222905
C7    55.000000
dtype: float64

In [ ]:
#Sum of Column Values
dframe.apply(sum)

C1    3618.000000
C2       4.110435
C3     557.086012
C4       3.840897
C5      58.272691
C6     888.710156
C7    2315.000000
dtype: float64

In [ ]:
#Sum of Column Values
dframe.apply(np.sum)

C1    3618.000000
C2       4.110435
C3     557.086012
C4       3.840897
C5      58.272691
C6     888.710156
C7    2315.000000
dtype: float64

In [ ]:
# Sum of rows
dframe.apply(np.sum ,axis=1)

2020-01-20    1555.231683
2020-01-21    1000.953676
2020-01-22    1722.301371
2020-01-23      79.521780
2020-01-24      78.666389
2020-01-25    1098.284684
2020-01-26    1910.060607
Freq: D, dtype: float64

In [ ]:
# Square root of all values in a DataFrame
dframe.applymap(np.sqrt)

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,29.799329,0.943589,23.558438,0.918570,0.705374,7.416198,7.416198
2020-01-21,29.799329,0.934450,0.675904,0.916690,0.885049,7.416198,7.416198
2020-01-22,29.799329,0.736496,0.477066,0.983387,0.751201,27.874720,7.416198
2020-01-23,4.690416,0.982156,0.653927,0.507616,0.742011,0.566810,7.416198
2020-01-24,4.690416,0.231300,0.880798,0.184225,0.289354,0.848186,7.416198
2020-01-25,4.690416,0.704410,0.264345,0.521589,7.416198,0.668250,31.937439
2020-01-26,29.799329,0.538635,0.358147,0.791257,0.890628,0.472128,31.937439

In [ ]:
# Square root of all values in a DataFrame
dframe.applymap(math.sqrt)

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,29.799329,0.943589,23.558438,0.918570,0.705374,7.416198,7.416198
2020-01-21,29.799329,0.934450,0.675904,0.916690,0.885049,7.416198,7.416198
2020-01-22,29.799329,0.736496,0.477066,0.983387,0.751201,27.874720,7.416198
2020-01-23,4.690416,0.982156,0.653927,0.507616,0.742011,0.566810,7.416198
2020-01-24,4.690416,0.231300,0.880798,0.184225,0.289354,0.848186,7.416198
2020-01-25,4.690416,0.704410,0.264345,0.521589,7.416198,0.668250,31.937439
2020-01-26,29.799329,0.538635,0.358147,0.791257,0.890628,0.472128,31.937439

In [ ]:
dframe.applymap(float)

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,888.0,0.890359,555.000000,0.843771,0.497552,55.000000,55.0
2020-01-21,888.0,0.873198,0.456847,0.840320,0.783311,55.000000,55.0
2020-01-22,888.0,0.542427,0.227592,0.967050,0.564303,777.000000,55.0
2020-01-23,22.0,0.964631,0.427621,0.257674,0.550580,0.321274,55.0
2020-01-24,22.0,0.053500,0.775805,0.033939,0.083726,0.719420,55.0
2020-01-25,22.0,0.496193,0.069878,0.272055,55.000000,0.446558,1020.0
2020-01-26,888.0,0.290127,0.128269,0.626088,0.793219,0.222905,1020.0

In [ ]:
# Using Lambda function in Dataframes
dframe.apply(lambda x: min(x))

C1    22.000000
C2     0.053500
C3     0.069878
C4     0.033939
C5     0.083726
C6     0.222905
C7    55.000000
dtype: float64

In [ ]:
# Using Lambda function in Dataframes
dframe.apply(lambda x: x*x)

,C1,C2,C3,C4,C5,C6,C7
2020-01-20,788544,0.792740,308025.000000,0.711950,0.247558,3025.000000,3025.0
2020-01-21,788544,0.762474,0.208709,0.706138,0.613576,3025.000000,3025.0
2020-01-22,788544,0.294227,0.051798,0.935185,0.318438,603729.000000,3025.0
2020-01-23,484,0.930513,0.182860,0.066396,0.303138,0.103217,3025.0
2020-01-24,484,0.002862,0.601873,0.001152,0.007010,0.517565,3025.0
2020-01-25,484,0.246207,0.004883,0.074014,3025.000000,0.199414,1040400.0
2020-01-26,788544,0.084174,0.016453,0.391986,0.629196,0.049686,1040400.0

# Merge Dataframes

In [ ]:
daf1 =  pd.DataFrame ({'id': ['1', '2', '3', '4', '5'], 'Name': ['Asif', 'Basit', 'Bran', 'John', 'David']})
daf1

  id   Name
0  1   Asif
1  2  Basit
2  3   Bran
3  4   John
4  5  David

In [ ]:
daf2 =  pd.DataFrame ({'id': ['1', '2', '6', '7', '8'], 'Score': [40 , 60 , 80 , 90 , 70]})
daf2

  id  Score
0  1     40
1  2     60
2  6     80
3  7     90
4  8     70

In [ ]:
# Inner Join
pd.merge(daf1, daf2, on='id', how='inner')

  id   Name  Score
0  1   Asif     40
1  2  Basit     60

In [ ]:
# Full Outer Join
pd.merge(daf1, daf2, on='id', how='outer')

  id   Name  Score
0  1   Asif   40.0
1  2  Basit   60.0
2  3   Bran    NaN
3  4   John    NaN
4  5  David    NaN
5  6    NaN   80.0
6  7    NaN   90.0
7  8    NaN   70.0

In [ ]:
# Left Outer Join
pd.merge(daf1, daf2, on='id', how='left')

  id   Name  Score
0  1   Asif   40.0
1  2  Basit   60.0
2  3   Bran    NaN
3  4   John    NaN
4  5  David    NaN

In [ ]:
#Right Outer Join
pd.merge(daf1, daf2, on='id', how='right')

  id   Name  Score
0  1   Asif     40
1  2  Basit     60
2  6    NaN     80
3  7    NaN     90
4  8    NaN     70

# Importing multiple CSV files in DataFrame

In [ ]:
# Append all CSV files 
path =r'C:\Users\DELL\Documents\GitHub\Public\COVID-19\csse_covid_19_data\csse_covid_19_daily_reports'
filenames = glob.glob(path + "/*.csv")
covid = pd.DataFrame()
for f in filenames:
    df = pd.read_csv(f)
    covid = covid.append(df,ignore_index=True,sort=True)

In [ ]:
# Top 10 rows of the Dataframe
covid.head(10)

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered
0,1.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Anhui,NaN
1,14.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Beijing,NaN
2,6.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Chongqing,NaN
3,1.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Fujian,NaN
4,NaN,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Gansu,NaN
5,26.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Guangdong,NaN
6,2.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Guangxi,NaN
7,1.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Guizhou,NaN
8,4.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Hainan,NaN
9,1.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Hebei,NaN

In [ ]:
# Bottom 10 rows of the Dataframe
covid.tail(10)

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered
6428,1.0,The Gambia,0.0,2020-03-17T23:33:02,13.4667,-16.6000,NaN,0.0
6429,1.0,Togo,0.0,2020-03-13T22:22:02,8.6195,0.8248,NaN,0.0
6430,1.0,US,0.0,2020-03-17T23:33:02,38.4912,-80.9545,West Virginia,0.0
6431,1.0,United Kingdom,1.0,2020-03-16T14:53:04,19.3133,-81.2546,Cayman Islands,0.0
6432,0.0,Australia,0.0,2020-03-14T02:33:04,35.4437,139.6380,From Diamond Princess,0.0
6433,0.0,Guernsey,0.0,2020-03-17T18:33:03,49.4500,-2.5800,NaN,0.0
6434,0.0,Jersey,0.0,2020-03-17T18:33:03,49.1900,-2.1100,NaN,0.0
6435,0.0,Puerto Rico,0.0,2020-03-17T16:13:14,18.2000,-66.5000,NaN,0.0
6436,0.0,Republic of the Congo,0.0,2020-03-17T21:33:03,-1.4400,15.5560,NaN,0.0
6437,0.0,occupied Palestinian territory,0.0,2020-03-11T20:53:02,31.9522,35.2332,NaN,0.0

In [ ]:
# Reading columns
covid['Country/Region'].head(10)

0    Mainland China
1    Mainland China
2    Mainland China
3    Mainland China
4    Mainland China
5    Mainland China
6    Mainland China
7    Mainland China
8    Mainland China
9    Mainland China
Name: Country/Region, dtype: object

In [ ]:
# Reading columns
df1 = covid[['Country/Region' ,'Province/State','Confirmed' , 'Last Update']]
df1.head(10)

   Country/Region Province/State  Confirmed      Last Update
0  Mainland China          Anhui        1.0  1/22/2020 17:00
1  Mainland China        Beijing       14.0  1/22/2020 17:00
2  Mainland China      Chongqing        6.0  1/22/2020 17:00
3  Mainland China         Fujian        1.0  1/22/2020 17:00
4  Mainland China          Gansu        NaN  1/22/2020 17:00
5  Mainland China      Guangdong       26.0  1/22/2020 17:00
6  Mainland China        Guangxi        2.0  1/22/2020 17:00
7  Mainland China        Guizhou        1.0  1/22/2020 17:00
8  Mainland China         Hainan        4.0  1/22/2020 17:00
9  Mainland China          Hebei        1.0  1/22/2020 17:00

In [ ]:
#Read specific rows 
df1.iloc[1:4]

   Country/Region Province/State  Confirmed      Last Update
1  Mainland China        Beijing       14.0  1/22/2020 17:00
2  Mainland China      Chongqing        6.0  1/22/2020 17:00
3  Mainland China         Fujian        1.0  1/22/2020 17:00

In [ ]:
#Filter data 
df1.loc[df1['Country/Region']== 'India']

     Country/Region Province/State  Confirmed          Last Update
430           India            NaN        1.0        1/30/20 16:00
491           India            NaN        1.0      1/31/2020 23:59
547           India            NaN        1.0       1/31/2020 8:15
607           India            NaN        2.0  2020-02-02T06:03:08
672           India            NaN        3.0  2020-02-03T21:43:02
740           India            NaN        3.0  2020-02-03T21:43:02
810           India            NaN        3.0  2020-02-03T21:43:02
881           India            NaN        3.0  2020-02-03T21:43:02
954           India            NaN        3.0  2020-02-03T21:43:02
1026          India            NaN        3.0  2020-02-03T21:43:02
1098          India            NaN        3.0  2020-02-03T21:43:02
1171          India            NaN        3.0  2020-02-03T21:43:02
1243          India            NaN        3.0  2020-02-03T21:43:02
1316          India            NaN        3.0  2020-02-03T21:43:02
1389          India            NaN        3.0  2020-02-13T18:53:02
1463          India            NaN        3.0  2020-02-13T18:53:02
1538          India            NaN        3.0  2020-02-13T18:53:02
1613          India            NaN        3.0  2020-02-16T07:43:02
1688          India            NaN        3.0  2020-02-16T07:43:02
1763          India            NaN        3.0  2020-02-16T07:43:02
1838          India            NaN        3.0  2020-02-16T07:43:02
1915          India            NaN        3.0  2020-02-16T07:43:02
1995          India            NaN        3.0  2020-02-16T07:43:02
2079          India            NaN        3.0  2020-02-16T07:43:02
2163          India            NaN        3.0  2020-02-16T07:43:02
2248          India            NaN        3.0  2020-02-16T07:43:02
2341          India            NaN        3.0  2020-02-16T07:43:02
2438          India            NaN        3.0  2020-02-16T07:43:02
2543          India            NaN        3.0  2020-02-16T07:43:02
2650          India            NaN        3.0  2020-02-16T07:43:02
2771          India            NaN        3.0  2020-02-16T07:43:02
2895          India            NaN        3.0  2020-02-16T07:43:02
3016          India            NaN        5.0  2020-03-02T22:33:09
3162          India            NaN        5.0  2020-03-02T22:33:09
3288          India            NaN       28.0  2020-03-04T12:33:03
3451          India            NaN       30.0  2020-03-05T13:53:03
3624          India            NaN       31.0  2020-03-06T13:03:12
3825          India            NaN       34.0  2020-03-07T18:13:27
4051          India            NaN       39.0  2020-03-08T09:23:05
4308          India            NaN       43.0  2020-03-09T09:13:17
4573          India            NaN       56.0  2020-03-10T10:13:28
4781          India            NaN       62.0  2020-03-11T22:13:12
4996          India            NaN       73.0  2020-03-12T08:33:13
5277          India            NaN       82.0  2020-03-11T20:00:00
5451          India            NaN      102.0  2020-03-14T20:33:03
5699          India            NaN      113.0  2020-03-15T18:20:18
5967          India            NaN      119.0  2020-03-16T14:38:45
6236          India            NaN      142.0  2020-03-17T15:33:06

In [ ]:
#Sort Data Frame
display('Sorted Data Frame', df1.sort_values(['Country/Region'], ascending=True).head(5))

'Sorted Data Frame'

     Country/Region Province/State  Confirmed          Last Update
2663     Azerbaijan            NaN        1.0  2020-02-28T15:03:26
2556    Afghanistan            NaN        1.0  2020-02-24T23:33:02
3919    Afghanistan            NaN        1.0  2020-02-24T23:33:02
3189    Afghanistan            NaN        1.0  2020-02-24T23:33:02
3705    Afghanistan            NaN        1.0  2020-02-24T23:33:02

In [ ]:
#Sort Data Frame
display('Sorted Data Frame', df1.sort_values(['Country/Region'], ascending=False).head(5))

'Sorted Data Frame'

,Country/Region,Province/State,Confirmed,Last Update
6437,occupied Palestinian territory,NaN,0.0,2020-03-11T20:53:02
5152,occupied Palestinian territory,NaN,0.0,2020-03-11T20:53:02
5889,occupied Palestinian territory,NaN,0.0,2020-03-11T20:53:02
5631,occupied Palestinian territory,NaN,0.0,2020-03-11T20:53:02
4592,occupied Palestinian territory,NaN,25.0,2020-03-10T19:13:21

In [ ]:
#Sort Data Frame - Ascending on "Country" & descending on "Last update"
display('Sorted Data Frame', df1.sort_values(['Country/Region', 'Last Update'], ascending=[1,0]).head(5))

'Sorted Data Frame'

     Country/Region Province/State  Confirmed          Last Update
2663     Azerbaijan            NaN        1.0  2020-02-28T15:03:26
6324    Afghanistan            NaN       22.0  2020-03-17T11:53:10
6037    Afghanistan            NaN       21.0  2020-03-16T14:38:45
5779    Afghanistan            NaN       16.0  2020-03-15T18:20:18
5534    Afghanistan            NaN       11.0  2020-03-14T14:53:04

In [ ]:
#Iterating through the dataset
for index , row in df1.iterrows():
    if (row['Country/Region'] == 'Indonesia' ):
        display(row[['Country/Region' ,'Confirmed']])

Country/Region    Indonesia
Confirmed                 2
Name: 3034, dtype: object

Country/Region    Indonesia
Confirmed                 2
Name: 3176, dtype: object

Country/Region    Indonesia
Confirmed                 2
Name: 3337, dtype: object

Country/Region    Indonesia
Confirmed                 2
Name: 3504, dtype: object

Country/Region    Indonesia
Confirmed                 4
Name: 3672, dtype: object

Country/Region    Indonesia
Confirmed                 4
Name: 3878, dtype: object

Country/Region    Indonesia
Confirmed                 6
Name: 4102, dtype: object

Country/Region    Indonesia
Confirmed                19
Name: 4326, dtype: object

Country/Region    Indonesia
Confirmed                27
Name: 4590, dtype: object

Country/Region    Indonesia
Confirmed                34
Name: 4798, dtype: object

Country/Region    Indonesia
Confirmed                34
Name: 5018, dtype: object

Country/Region    Indonesia
Confirmed                69
Name: 5265, dtype: object

Country/Region    Indonesia
Confirmed                96
Name: 5453, dtype: object

Country/Region    Indonesia
Confirmed               117
Name: 5696, dtype: object

Country/Region    Indonesia
Confirmed               134
Name: 5960, dtype: object

Country/Region    Indonesia
Confirmed               172
Name: 6227, dtype: object

In [ ]:
#Unique Values
covid['Country/Region'].drop_duplicates(keep='first').head(10)

0     Mainland China
12         Hong Kong
20             Macau
28            Taiwan
31                US
35             Japan
36          Thailand
37       South Korea
76         Singapore
77       Philippines
Name: Country/Region, dtype: object

In [ ]:
# Countries impacted with Coronavirus
countries = covid['Country/Region'].unique()
type(countries) , countries

(numpy.ndarray,
 array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
        'Thailand', 'South Korea', 'Singapore', 'Philippines', 'Malaysia',
        'Vietnam', 'Australia', 'Mexico', 'Brazil', 'Colombia', 'France',
        'Nepal', 'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast',
        'Germany', 'Finland', 'United Arab Emirates', 'India', 'Italy',
        'UK', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt',
        'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan',
        'Bahrain', 'Kuwait', 'Austria', 'Algeria', 'Croatia',
        'Switzerland', 'Pakistan', 'Georgia', 'Greece', 'North Macedonia',
        'Norway', 'Romania', 'Denmark', 'Estonia', 'Netherlands',
        'San Marino', ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania',
        'New Zealand', 'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg',
        'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic',
        'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal',
        'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal',
        'Argentina', 'Chile', 'Jordan', 'Ukraine', 'Saint Barthelemy',
        'Hungary', 'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland',
        'Tunisia', 'Palestine', 'Bosnia and Herzegovina', 'Slovenia',
        'South Africa', 'Bhutan', 'Cameroon', 'Costa Rica', 'Peru',
        'Serbia', 'Slovakia', 'Togo', 'Vatican City', 'French Guiana',
        'Malta', 'Martinique', 'Republic of Ireland', 'Bulgaria',
        'Maldives', 'Bangladesh', 'Moldova', 'Paraguay', 'Albania',
        'Cyprus', 'St. Martin', 'Brunei', 'Iran (Islamic Republic of)',
        'Republic of Korea', 'Hong Kong SAR', 'Taipei and environs',
        'Viet Nam', 'occupied Palestinian territory', 'Macao SAR',
        'Russian Federation', 'Republic of Moldova', 'Saint Martin',
        'Burkina Faso', 'Channel Islands', 'Holy See', 'Mongolia',
        'Panama', 'China', 'Korea, South', 'Cruise Ship', 'United Kingdom',
        'Czechia', 'Taiwan*', 'Bolivia', 'Honduras', 'Congo (Kinshasa)',
        "Cote d'Ivoire", 'Jamaica', 'Reunion', 'Turkey', 'Cuba', 'Guyana',
        'Kazakhstan', 'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan',
        'Guinea', 'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay',
        'Ghana', 'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
        'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
        'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
        'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
        'Central African Republic', 'Congo (Brazzaville)',
        'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
        'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
        'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
        'The Gambia'], dtype=object))

In [ ]:
df2 = pd.read_csv('Pokemon.csv')
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
# Sum of Columns 
df2['Total'] = df2['HP'] + df2['Attack']
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91

In [ ]:
# Sum of Columns 
df2['Total'] = df2.iloc[:,4:10].sum(axis=1)
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [ ]:
#Shifting "Total" column

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

In [ ]:
#Shifting "Legendary" column -  Index location -1 or 12

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Total,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False,318,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,False,405,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,False,525,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,False,625,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,False,309,1

In [ ]:
#Shifting "Generation" column - Index location -1 or 12

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[12]] + cols[10:12]]
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [ ]:
#Save to CSV file

df2.to_csv('poke_updated.csv')

In [ ]:
#Save to CSV file without index column

df2.to_csv('poke_updated1.csv', index=False)

In [ ]:
df2.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314

In [ ]:
# Save Dataframe as text file
df2.to_csv('poke.txt' , sep='\t' , index=False)

In [ ]:
# Save Dataframe as xlsx file
df2.to_excel('poke.xlsx')

In [ ]:
# Save Dataframe as xlsx file without row names
df2.to_excel('poke.xlsx', index=0)

In [ ]:
#Filtering using loc

df2.loc[df2['Type 2'] == 'Dragon']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,610
249,230,Kingdra,Water,Dragon,75,95,95,95,95,85,2,False,540
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630
360,329,Vibrava,Ground,Dragon,50,70,50,50,50,70,3,False,340
361,330,Flygon,Ground,Dragon,80,100,80,80,80,100,3,False,520
540,483,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True,680
541,484,Palkia,Water,Dragon,90,120,100,150,120,100,4,True,680
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True,680
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True,680
694,633,Deino,Dark,Dragon,52,65,50,45,50,38,5,False,300
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,420
696,635,Hydreigon,Dark,Dragon,92,105,90,125,90,98,5,False,600
761,691,Dragalge,Poison,Dragon,65,75,90,97,123,44,6,False,494
766,696,Tyrunt,Rock,Dragon,58,89,77,45,45,48,6,False,362
767,697,Tyrantrum,Rock,Dragon,82,121,119,69,59,71,6,False,521
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False,245
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False,535

In [ ]:
#Filtering using loc
df3 = df2.loc[(df2['Type 2'] == 'Dragon') & (df2['Type 1'] == 'Dark')]
df3

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
694,633,Deino,Dark,Dragon,52,65,50,45,50,38,5,False,300
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,420
696,635,Hydreigon,Dark,Dragon,92,105,90,125,90,98,5,False,600

In [ ]:
#Reset index for Dataframe df3 keeping old index column

df4 = df3.reset_index()
df4

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,694,633,Deino,Dark,Dragon,52,65,50,45,50,38,5,False,300
1,695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,420
2,696,635,Hydreigon,Dark,Dragon,92,105,90,125,90,98,5,False,600

In [ ]:
#Reset index for Dataframe df3 removing old index column

df3.reset_index(drop=True , inplace=True)
df3

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,633,Deino,Dark,Dragon,52,65,50,45,50,38,5,False,300
1,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,420
2,635,Hydreigon,Dark,Dragon,92,105,90,125,90,98,5,False,600

In [ ]:
df2.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314

# LIKE OPERATION IN PANDAS

In [ ]:
df2.Name.str.contains("rill").head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Name, dtype: bool

In [ ]:
# Display all rows containing Name "rill"
df2.loc[df2.Name.str.contains("rill")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False,395
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
198,183,Marill,Water,Fairy,70,20,50,20,50,40,2,False,250
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False,420
322,298,Azurill,Normal,Fairy,50,20,40,20,40,20,3,False,190
589,530,Excadrill,Ground,Steel,110,135,60,50,65,88,5,False,508
653,592,Frillish,Water,Ghost,55,40,50,65,85,40,5,False,335

In [ ]:
# Exclude all rows containing "rill"
df2.loc[~df2.Name.str.contains("rill")].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314

In [ ]:
#Display all rows with Type-1 as "Grass" and Type-2 as "Poison"

df2.loc[df2['Type 1'].str.contains("Grass") & df2['Type 2'].str.contains("Poison")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,300
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,400
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,280
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,294
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [ ]:
df2.loc[df2['Type 1'].str.contains('Grass|Water',regex = True)].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395

In [ ]:
# Due to Case-sensitive it will not return any data

df2.loc[df2['Type 1'].str.contains('grass|water',regex = True)].head(10)

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Total]
Index: []

In [ ]:
# To ignore case we can use "case = False"

df2.loc[df2['Type 1'].str.contains('grass|water', case = False ,regex = True)].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395

In [ ]:
# To ignore case we can use "Flags = re.I"

df2.loc[df2['Type 1'].str.contains('grass|water',flags = re.I ,regex = True)].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395

# Regex in Pandas dataframe

In [ ]:
#Get all rows with name starting with "wa"

df2.loc[df2.Name.str.contains('^Wa',flags = re.I ,regex = True)].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False,400
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False,500
400,365,Walrein,Ice,Water,110,80,90,95,90,65,3,False,530
564,505,Watchog,Normal,NaN,60,85,69,60,69,77,5,False,420

In [ ]:
#Get all rows with name starting with "wa" followed by any letter between a-l

df2.loc[df2.Name.str.contains('^Wa[a-l]+',flags = re.I ,regex = True)].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False,400
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False,500
400,365,Walrein,Ice,Water,110,80,90,95,90,65,3,False,530

In [ ]:
#Get all rows with name starting with x , y, z

df2.loc[df2.Name.str.contains('^[x-z]',flags = re.I ,regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False,245
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True,580
192,178,Xatu,Psychic,Flying,65,75,70,95,70,95,2,False,470
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False,390
286,263,Zigzagoon,Normal,NaN,38,30,41,30,41,60,3,False,240
367,335,Zangoose,Normal,NaN,73,115,60,60,60,90,3,False,458
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False,515
582,523,Zebstrika,Electric,NaN,75,100,63,80,63,116,5,False,497
623,562,Yamask,Ghost,NaN,38,30,85,55,65,30,5,False,303
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False,330
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False,510
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,420
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True,680
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True,680
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,680
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600

In [ ]:
# Extracting first 3 characters from "Name" column
df2['Name2'] = df2.Name.str.extract(r'(^\w{3})')

In [ ]:
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Name2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,Bul
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,Ivy
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,Ven
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,Ven
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,Cha

In [ ]:
# Return all rows with "Name" starting with character 'B or b' 
df2.loc[df2.Name.str.match(r'(^[B|b].*)')].head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Name2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,Bul
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530,Bla
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630,Bla
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False,395,But
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False,395,Bee

# Replace values in dataframe

In [ ]:
df2.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Name2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,Bul
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,Ivy
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,Ven
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,Ven
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,Cha
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405,Cha
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534,Cha
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634,Cha
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634,Cha
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,Squ

In [ ]:
df2['Type 1'] = df2['Type 1'].replace({"Grass" : "Meadow" , "Fire" :"Blaze"})

In [ ]:
df2.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Name2
0,1,Bulbasaur,Meadow,Poison,45,49,49,65,65,45,1,False,318,Bul
1,2,Ivysaur,Meadow,Poison,60,62,63,80,80,60,1,False,405,Ivy
2,3,Venusaur,Meadow,Poison,80,82,83,100,100,80,1,False,525,Ven
3,3,VenusaurMega Venusaur,Meadow,Poison,80,100,123,122,120,80,1,False,625,Ven
4,4,Charmander,Blaze,NaN,39,52,43,60,50,65,1,False,309,Cha
5,5,Charmeleon,Blaze,NaN,58,64,58,80,65,80,1,False,405,Cha
6,6,Charizard,Blaze,Flying,78,84,78,109,85,100,1,False,534,Cha
7,6,CharizardMega Charizard X,Blaze,Dragon,78,130,111,130,85,100,1,False,634,Cha
8,6,CharizardMega Charizard Y,Blaze,Flying,78,104,78,159,115,100,1,False,634,Cha
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,Squ

In [ ]:
df2['Type 2'] = df2['Type 2'].replace({"Poison" : "Venom"})

In [ ]:
df2.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Name2
0,1,Bulbasaur,Meadow,Venom,45,49,49,65,65,45,1,False,318,Bul
1,2,Ivysaur,Meadow,Venom,60,62,63,80,80,60,1,False,405,Ivy
2,3,Venusaur,Meadow,Venom,80,82,83,100,100,80,1,False,525,Ven
3,3,VenusaurMega Venusaur,Meadow,Venom,80,100,123,122,120,80,1,False,625,Ven
4,4,Charmander,Blaze,NaN,39,52,43,60,50,65,1,False,309,Cha

In [ ]:
df2['Type 2'] = df2['Type 2'].replace(['Venom' , 'Dragon'] , 'DANGER')

In [ ]:
df2.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Name2
0,1,Bulbasaur,Meadow,DANGER,45,49,49,65,65,45,1,False,318,Bul
1,2,Ivysaur,Meadow,DANGER,60,62,63,80,80,60,1,False,405,Ivy
2,3,Venusaur,Meadow,DANGER,80,82,83,100,100,80,1,False,525,Ven
3,3,VenusaurMega Venusaur,Meadow,DANGER,80,100,123,122,120,80,1,False,625,Ven
4,4,Charmander,Blaze,NaN,39,52,43,60,50,65,1,False,309,Cha
5,5,Charmeleon,Blaze,NaN,58,64,58,80,65,80,1,False,405,Cha
6,6,Charizard,Blaze,Flying,78,84,78,109,85,100,1,False,534,Cha
7,6,CharizardMega Charizard X,Blaze,DANGER,78,130,111,130,85,100,1,False,634,Cha
8,6,CharizardMega Charizard Y,Blaze,Flying,78,104,78,159,115,100,1,False,634,Cha
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,Squ

In [ ]:
df2.loc[df2['Type 2'] == 'DANGER' , 'Name2'] = np.NaN

In [ ]:
df2.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Name2
0,1,Bulbasaur,Meadow,DANGER,45,49,49,65,65,45,1,False,318,NaN
1,2,Ivysaur,Meadow,DANGER,60,62,63,80,80,60,1,False,405,NaN
2,3,Venusaur,Meadow,DANGER,80,82,83,100,100,80,1,False,525,NaN
3,3,VenusaurMega Venusaur,Meadow,DANGER,80,100,123,122,120,80,1,False,625,NaN
4,4,Charmander,Blaze,NaN,39,52,43,60,50,65,1,False,309,Cha
5,5,Charmeleon,Blaze,NaN,58,64,58,80,65,80,1,False,405,Cha
6,6,Charizard,Blaze,Flying,78,84,78,109,85,100,1,False,534,Cha
7,6,CharizardMega Charizard X,Blaze,DANGER,78,130,111,130,85,100,1,False,634,NaN
8,6,CharizardMega Charizard Y,Blaze,Flying,78,104,78,159,115,100,1,False,634,Cha
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,Squ

In [ ]:
df2.loc[df2['Total'] > 400 , ['Name2' , 'Legendary']] = 'ALERT'
df2.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Name2
0,1,Bulbasaur,Meadow,DANGER,45,49,49,65,65,45,1,False,318,NaN
1,2,Ivysaur,Meadow,DANGER,60,62,63,80,80,60,1,ALERT,405,ALERT
2,3,Venusaur,Meadow,DANGER,80,82,83,100,100,80,1,ALERT,525,ALERT
3,3,VenusaurMega Venusaur,Meadow,DANGER,80,100,123,122,120,80,1,ALERT,625,ALERT
4,4,Charmander,Blaze,NaN,39,52,43,60,50,65,1,False,309,Cha
5,5,Charmeleon,Blaze,NaN,58,64,58,80,65,80,1,ALERT,405,ALERT
6,6,Charizard,Blaze,Flying,78,84,78,109,85,100,1,ALERT,534,ALERT
7,6,CharizardMega Charizard X,Blaze,DANGER,78,130,111,130,85,100,1,ALERT,634,ALERT
8,6,CharizardMega Charizard Y,Blaze,Flying,78,104,78,159,115,100,1,ALERT,634,ALERT
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,Squ

In [ ]:
df2.loc[df2['Total'] > 400 , ['Legendary' , 'Name2']] = ['ALERT-1' , 'ALERT-2'] 
df2.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Name2
0,1,Bulbasaur,Meadow,DANGER,45,49,49,65,65,45,1,False,318,NaN
1,2,Ivysaur,Meadow,DANGER,60,62,63,80,80,60,1,ALERT-1,405,ALERT-2
2,3,Venusaur,Meadow,DANGER,80,82,83,100,100,80,1,ALERT-1,525,ALERT-2
3,3,VenusaurMega Venusaur,Meadow,DANGER,80,100,123,122,120,80,1,ALERT-1,625,ALERT-2
4,4,Charmander,Blaze,NaN,39,52,43,60,50,65,1,False,309,Cha
5,5,Charmeleon,Blaze,NaN,58,64,58,80,65,80,1,ALERT-1,405,ALERT-2
6,6,Charizard,Blaze,Flying,78,84,78,109,85,100,1,ALERT-1,534,ALERT-2
7,6,CharizardMega Charizard X,Blaze,DANGER,78,130,111,130,85,100,1,ALERT-1,634,ALERT-2
8,6,CharizardMega Charizard Y,Blaze,Flying,78,104,78,159,115,100,1,ALERT-1,634,ALERT-2
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,Squ

# Group By

In [ ]:
df = pd.read_csv('poke_updated1.csv')
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [ ]:
df.groupby(['Type 1']).mean().head(10)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Attack' , ascending = False).head(10)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Defense' , ascending = False).head(10)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Speed' , ascending = False).head(10)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500

In [ ]:
df.sum()

#                                                        290251
Name          BulbasaurIvysaurVenusaurVenusaurMega VenusaurC...
Type 1        GrassGrassGrassGrassFireFireFireFireFireWaterW...
HP                                                        55407
Attack                                                    63201
Defense                                                   59074
Sp. Atk                                                   58256
Sp. Def                                                   57522
Speed                                                     54622
Generation                                                 2659
Legendary                                                    65
Total                                                    348082
dtype: object

In [ ]:
df.groupby(['Type 2']).sum().head(5)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 2,,,,,,,,,,
Bug,1146,160,270,240,140,185,185,10,0.0,1180
Dark,8277,1511,2196,1441,1636,1397,1507,75,1.0,9688
Dragon,8686,1479,1700,1567,1773,1502,1450,75,4.0,9471
Electric,2794,529,436,410,487,441,429,24,1.0,2732
Fairy,8718,1479,1417,1699,1725,1885,1408,82,2.0,9613

In [ ]:
df.count()

#             800
Name          800
Type 1        800
Type 2        414
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
Total         800
dtype: int64

In [ ]:
df['count1'] = 0
df.groupby(['Type 2']).count()['count1']

Type 2
Bug          3
Dark        20
Dragon      18
Electric     6
Fairy       23
Fighting    26
Fire        12
Flying      97
Ghost       14
Grass       25
Ground      35
Ice         14
Normal       4
Poison      34
Psychic     33
Rock        14
Steel       22
Water       14
Name: count1, dtype: int64

In [ ]:
df['count1'] = 0
df.groupby(['Type 1']).count()['count1']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count1, dtype: int64

In [ ]:
df['count1'] = 0
df.groupby(['Type 1' , 'Type 2' , 'Legendary']).count()['count1']

Type 1    Type 2    Legendary
Bug       Electric  False         2
          Fighting  False         2
          Fire      False         2
          Flying    False        14
          Ghost     False         1
          Grass     False         6
          Ground    False         2
          Poison    False        12
          Rock      False         3
          Steel     False         7
          Water     False         1
Dark      Dragon    False         3
          Fighting  False         2
          Fire      False         3
          Flying    False         4
                    True          1
          Ghost     False         2
          Ice       False         2
          Psychic   False         2
          Steel     False         2
Dragon    Electric  True          1
          Fairy     False         1
          Fire      True          1
          Flying    False         4
                    True          2
          Ground    False         4
                    True          1
          Ice       True          3
          Psychic   True          4
Electric  Dragon    False         1
                                 ..
Rock      Grass     False         2
          Ground    False         6
          Ice       False         2
          Psychic   False         2
          Steel     False         3
          Water     False         6
Steel     Dragon    True          1
          Fairy     False         3
          Fighting  True          1
          Flying    False         1
          Ghost     False         4
          Ground    False         2
          Psychic   False         6
                    True          1
          Rock      False         3
Water     Dark      False         6
          Dragon    False         1
                    True          1
          Electric  False         2
          Fairy     False         2
          Fighting  False         3
          Flying    False         7
          Ghost     False         2
          Grass     False         3
          Ground    False        10
          Ice       False         3
          Poison    False         3
          Psychic   False         5
          Rock      False         4
          Steel     False         1
Name: count1, Length: 150, dtype: int64

# Loading Data in Chunks

In [ ]:
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    print(df)

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary  Total
0       65     45           1      False    318
1       80     60           1      False    405
2      100     80           1      False    525
3      120     80           1      False    625
4       50     65           1      False    309
5       65     80           1      False    405
6       85    100           1      False    534
7       85    100           1      False    634
8      115    100           1      False    634
9       64     43           1      False    314
     #                     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
10   8                Wartortle  Water     NaN  59      63       80       65
11   9                Blastoise  Water     NaN  79      83      100       85
12   9  BlastoiseMega Blastoise  Water     NaN  79     103      120      135
13  10                 Caterpie    Bug     NaN  45      30       35       20
14  11                  Metapod    Bug     NaN  50      20       55       25
15  12               Butterfree    Bug  Flying  60      45       50       90
16  13                   Weedle    Bug  Poison  40      35       30       20
17  14                   Kakuna    Bug  Poison  45      25       50       25
18  15                 Beedrill    Bug  Poison  65      90       40       45
19  15    BeedrillMega Beedrill    Bug  Poison  65     150       40       15

    Sp. Def  Speed  Generation  Legendary  Total
10       80     58           1      False    405
11      105     78           1      False    530
12      115     78           1      False    630
13       20     45           1      False    195
14       25     30           1      False    205
15       80     70           1      False    395
16       20     50           1      False    195
17       25     35           1      False    205
18       80     75           1      False    395
19       80    145           1      False    495
     #                 Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
20  16               Pidgey  Normal  Flying  40      45       40       35
21  17            Pidgeotto  Normal  Flying  63      60       55       50
22  18              Pidgeot  Normal  Flying  83      80       75       70
23  18  PidgeotMega Pidgeot  Normal  Flying  83      80       80      135
24  19              Rattata  Normal     NaN  30      56       35       25
25  20             Raticate  Normal     NaN  55      81       60       50
26  21              Spearow  Normal  Flying  40      60       30       31
27  22               Fearow  Normal  Flying  65      90       65       61
28  23                Ekans  Poison     NaN  35      60       44       40
29  24                Arbok  Poison     NaN  60      85       69       65

    Sp. Def  Speed  Generation  Legendary  Total
20       35     56           1      False    251
21       50     71           1      False    349
22       70    101           1      False    479
23       80    121           1      False    579
24       35     72           1      False    253
25       70     97           1      False    413
26       31     70           1      False    262
27       61    100           1      False    442
28       54     55           1      False    288
29       79     80           1      False    438
     #       Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
30  25    Pikachu  Electric     NaN  35      55       40       50       50
31  26     Raichu  Electric     NaN  60      90       55       90       80
32  27  Sandshrew    Ground     NaN  50      75       85       20       30
33  28  Sandslash    Ground     NaN  75     100      110       45       55
34  29   Nidoran♀    Poison     NaN  55      47       52       40       40
35  30   Nidorina    Poison     NaN  70      62       67       55       55
36  31  Nidoqueen    Poison  Ground  90      92       87       75       85
37  32   Nidoran♂    Poison     NaN  46      57       40       40       40
38  33   Nidorino    Poison     NaN  61      72       57       55       55
39  34   Nidoking    Poison  Ground  81     102       77       85       75

    Speed  Generation  Legendary  Total
30     90           1      False    320
31    110           1      False    485
32     40           1      False    300
33     65           1      False    450
34     41           1      False    275
35     56           1      False    365
36     76           1      False    505
37     50           1      False    273
38     65           1      False    365
39     85           1      False    505
     #        Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
40  35    Clefairy   Fairy     NaN   70      45       48       60       65
41  36    Clefable   Fairy     NaN   95      70       73       95       90
42  37      Vulpix    Fire     NaN   38      41       40       50       65
43  38   Ninetales    Fire     NaN   73      76       75       81      100
44  39  Jigglypuff  Normal   Fairy  115      45       20       45       25
45  40  Wigglytuff  Normal   Fairy  140      70       45       85       50
46  41       Zubat  Poison  Flying   40      45       35       30       40
47  42      Golbat  Poison  Flying   75      80       70       65       75
48  43      Oddish   Grass  Poison   45      50       55       75       65
49  44       Gloom   Grass  Poison   60      65       70       85       75

    Speed  Generation  Legendary  Total
40     35           1      False    323
41     60           1      False    483
42     65           1      False    299
43    100           1      False    505
44     20           1      False    270
45     45           1      False    435
46     55           1      False    245
47     90           1      False    455
48     30           1      False    320
49     40           1      False    395
     #       Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
50  45  Vileplume   Grass  Poison  75      80       85      110       90
51  46      Paras     Bug   Grass  35      70       55       45       55
52  47   Parasect     Bug   Grass  60      95       80       60       80
53  48    Venonat     Bug  Poison  60      55       50       40       55
54  49   Venomoth     Bug  Poison  70      65       60       90       75
55  50    Diglett  Ground     NaN  10      55       25       35       45
56  51    Dugtrio  Ground     NaN  35      80       50       50       70
57  52     Meowth  Normal     NaN  40      45       35       40       40
58  53    Persian  Normal     NaN  65      70       60       65       65
59  54    Psyduck   Water     NaN  50      52       48       65       50

    Speed  Generation  Legendary  Total
50     50           1      False    490
51     25           1      False    285
52     30           1      False    405
53     45           1      False    305
54     90           1      False    450
55     95           1      False    265
56    120           1      False    405
57     90           1      False    290
58    115           1      False    440
59     55           1      False    320
     #       Name    Type 1    Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
60  55    Golduck     Water       NaN  80      82       78       95       80
61  56     Mankey  Fighting       NaN  40      80       35       35       45
62  57   Primeape  Fighting       NaN  65     105       60       60       70
63  58  Growlithe      Fire       NaN  55      70       45       70       50
64  59   Arcanine      Fire       NaN  90     110       80      100       80
65  60    Poliwag     Water       NaN  40      50       40       40       40
66  61  Poliwhirl     Water       NaN  65      65       65       50       50
67  62  Poliwrath     Water  Fighting  90      95       95       70       90
68  63       Abra   Psychic       NaN  25      20       15      105       55
69  64    Kadabra   Psychic       NaN  40      35       30      120       70

    Speed  Generation  Legendary  Total
60     85           1      False    500
61     70           1      False    305
62     95           1      False    455
63     60           1      False    350
64     95           1      False    555
65     90           1      False    300
66     90           1      False    385
67     70           1      False    510
68     90           1      False    310
69    105           1      False    400
     #                   Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
70  65               Alakazam   Psychic     NaN  55      50       45      135
71  65  AlakazamMega Alakazam   Psychic     NaN  55      50       65      175
72  66                 Machop  Fighting     NaN  70      80       50       35
73  67                Machoke  Fighting     NaN  80     100       70       50
74  68                Machamp  Fighting     NaN  90     130       80       65
75  69             Bellsprout     Grass  Poison  50      75       35       70
76  70             Weepinbell     Grass  Poison  65      90       50       85
77  71             Victreebel     Grass  Poison  80     105       65      100
78  72              Tentacool     Water  Poison  40      40       35       50
79  73             Tentacruel     Water  Poison  80      70       65       80

    Sp. Def  Speed  Generation  Legendary  Total
70       95    120           1      False    500
71       95    150           1      False    590
72       35     35           1      False    305
73       60     45           1      False    405
74       85     55           1      False    505
75       30     40           1      False    300
76       45     55           1      False    390
77       70     70           1      False    490
78      100     70           1      False    335
79      120    100           1      False    515
     #                 Name    Type 1   Type 2  HP  Attack  Defense  Sp. Atk  \
80  74              Geodude      Rock   Ground  40      80      100       30
81  75             Graveler      Rock   Ground  55      95      115       45
82  76                Golem      Rock   Ground  80     120      130       55
83  77               Ponyta      Fire      NaN  50      85       55       65
84  78             Rapidash      Fire      NaN  65     100       70       80
85  79             Slowpoke     Water  Psychic  90      65       65       40
86  80              Slowbro     Water  Psychic  95      75      110      100
87  80  SlowbroMega Slowbro     Water  Psychic  95      75      180      130
88  81            Magnemite  Electric    Steel  25      35       70       95
89  82             Magneton  Electric    Steel  50      60       95      120

    Sp. Def  Speed  Generation  Legendary  Total
80       30     20           1      False    300
81       45     35           1      False    390
82       65     45           1      False    495
83       65     90           1      False    410
84       80    105           1      False    500
85       40     15           1      False    315
86       80     30           1      False    490
87       80     30           1      False    590
88       55     45           1      False    325
89       70     70           1      False    465
     #        Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
90  83  Farfetch'd  Normal  Flying   52      65       55       58       62
91  84       Doduo  Normal  Flying   35      85       45       35       35
92  85      Dodrio  Normal  Flying   60     110       70       60       60
93  86        Seel   Water     NaN   65      45       55       45       70
94  87     Dewgong   Water     Ice   90      70       80       70       95
95  88      Grimer  Poison     NaN   80      80       50       40       50
96  89         Muk  Poison     NaN  105     105       75       65      100
97  90    Shellder   Water     NaN   30      65      100       45       25
98  91    Cloyster   Water     Ice   50      95      180       85       45
99  92      Gastly   Ghost  Poison   30      35       30      100       35

    Speed  Generation  Legendary  Total
90     60           1      False    352
91     75           1      False    310
92    100           1      False    460
93     45           1      False    325
94     70           1      False    475
95     25           1      False    325
96     50           1      False    500
97     40           1      False    305
98     70           1      False    525
99     80           1      False    310
       #               Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
100   93            Haunter     Ghost  Poison  45      50       45      115
101   94             Gengar     Ghost  Poison  60      65       60      130
102   94  GengarMega Gengar     Ghost  Poison  60      65       80      170
103   95               Onix      Rock  Ground  35      45      160       30
104   96            Drowzee   Psychic     NaN  60      48       45       43
105   97              Hypno   Psychic     NaN  85      73       70       73
106   98             Krabby     Water     NaN  30     105       90       25
107   99            Kingler     Water     NaN  55     130      115       50
108  100            Voltorb  Electric     NaN  40      30       50       55
109  101          Electrode  Electric     NaN  60      50       70       80

     Sp. Def  Speed  Generation  Legendary  Total
100       55     95           1      False    405
101       75    110           1      False    500
102       95    130           1      False    600
103       45     70           1      False    385
104       90     42           1      False    328
105      115     67           1      False    483
106       25     50           1      False    325
107       50     75           1      False    475
108       55    100           1      False    330
109       80    140           1      False    480
       #        Name    Type 1   Type 2  HP  Attack  Defense  Sp. Atk  \
110  102   Exeggcute     Grass  Psychic  60      40       80       60
111  103   Exeggutor     Grass  Psychic  95      95       85      125
112  104      Cubone    Ground      NaN  50      50       95       40
113  105     Marowak    Ground      NaN  60      80      110       50
114  106   Hitmonlee  Fighting      NaN  50     120       53       35
115  107  Hitmonchan  Fighting      NaN  50     105       79       35
116  108   Lickitung    Normal      NaN  90      55       75       60
117  109     Koffing    Poison      NaN  40      65       95       60
118  110     Weezing    Poison      NaN  65      90      120       85
119  111     Rhyhorn    Ground     Rock  80      85       95       30

     Sp. Def  Speed  Generation  Legendary  Total
110       45     40           1      False    325
111       65     55           1      False    520
112       50     35           1      False    320
113       80     45           1      False    425
114      110     87           1      False    455
115      110     76           1      False    455
116       75     30           1      False    385
117       45     35           1      False    340
118       70     60           1      False    490
119       30     25           1      False    345
       #                       Name  Type 1 Type 2   HP  Attack  Defense  \
120  112                     Rhydon  Ground   Rock  105     130      120
121  113                    Chansey  Normal    NaN  250       5        5
122  114                    Tangela   Grass    NaN   65      55      115
123  115                 Kangaskhan  Normal    NaN  105      95       80
124  115  KangaskhanMega Kangaskhan  Normal    NaN  105     125      100
125  116                     Horsea   Water    NaN   30      40       70
126  117                     Seadra   Water    NaN   55      65       95
127  118                    Goldeen   Water    NaN   45      67       60
128  119                    Seaking   Water    NaN   80      92       65
129  120                     Staryu   Water    NaN   30      45       55

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
120       45       45     40           1      False    485
121       35      105     50           1      False    450
122      100       40     60           1      False    435
123       40       80     90           1      False    490
124       60      100    100           1      False    590
125       70       25     60           1      False    295
126       95       45     85           1      False    440
127       35       50     63           1      False    320
128       65       80     68           1      False    450
129       70       55     85           1      False    340
       #               Name    Type 1   Type 2  HP  Attack  Defense  Sp. Atk  \
130  121            Starmie     Water  Psychic  60      75       85      100
131  122           Mr. Mime   Psychic    Fairy  40      45       65      100
132  123            Scyther       Bug   Flying  70     110       80       55
133  124               Jynx       Ice  Psychic  65      50       35      115
134  125         Electabuzz  Electric      NaN  65      83       57       95
135  126             Magmar      Fire      NaN  65      95       57      100
136  127             Pinsir       Bug      NaN  65     125      100       55
137  127  PinsirMega Pinsir       Bug   Flying  65     155      120       65
138  128             Tauros    Normal      NaN  75     100       95       40
139  129           Magikarp     Water      NaN  20      10       55       15

     Sp. Def  Speed  Generation  Legendary  Total
130       85    115           1      False    520
131      120     90           1      False    460
132       80    105           1      False    500
133       95     95           1      False    455
134       85    105           1      False    490
135       85     93           1      False    495
136       70     85           1      False    500
137       90    105           1      False    600
138       70    110           1      False    490
139       20     80           1      False    200
       #                   Name    Type 1  Type 2   HP  Attack  Defense  \
140  130               Gyarados     Water  Flying   95     125       79
141  130  GyaradosMega Gyarados     Water    Dark   95     155      109
142  131                 Lapras     Water     Ice  130      85       80
143  132                  Ditto    Normal     NaN   48      48       48
144  133                  Eevee    Normal     NaN   55      55       50
145  134               Vaporeon     Water     NaN  130      65       60
146  135                Jolteon  Electric     NaN   65      65       60
147  136                Flareon      Fire     NaN   65     130       60
148  137                Porygon    Normal     NaN   65      60       70
149  138                Omanyte      Rock   Water   35      40      100

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
140       60      100     81           1      False    540
141       70      130     81           1      False    640
142       85       95     60           1      False    535
143       48       48     48           1      False    288
144       45       65     55           1      False    325

229      100     75           2      False    600
       #                     Name  Type 1    Type 2   HP  Attack  Defense  \
230  213                  Shuckle     Bug      Rock   20      10      230
231  214                Heracross     Bug  Fighting   80     125       75
232  214  HeracrossMega Heracross     Bug  Fighting   80     185      115
233  215                  Sneasel    Dark       Ice   55      95       55
234  216                Teddiursa  Normal       NaN   60      80       50
235  217                 Ursaring  Normal       NaN   90     130       75
236  218                   Slugma    Fire       NaN   40      40       40
237  219                 Magcargo    Fire      Rock   50      50      120
238  220                   Swinub     Ice    Ground   50      50       40
239  221                Piloswine     Ice    Ground  100     100       80

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
230       10      230      5           2      False    505
231       40       95     85           2      False    500
232       40      105     75           2      False    600
233       35       75    115           2      False    430
234       50       50     40           2      False    330
235       75       75     55           2      False    500
236       70       40     20           2      False    250
237       80       80     30           2      False    410
238       30       30     50           2      False    250
239       60       60     50           2      False    450
       #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
240  222                Corsola  Water    Rock  55      55       85       65
241  223               Remoraid  Water     NaN  35      65       35       65
242  224              Octillery  Water     NaN  75     105       75      105
243  225               Delibird    Ice  Flying  45      55       45       65
244  226                Mantine  Water  Flying  65      40       70       80
245  227               Skarmory  Steel  Flying  65      80      140       40
246  228               Houndour   Dark    Fire  45      60       30       80
247  229               Houndoom   Dark    Fire  75      90       50      110
248  229  HoundoomMega Houndoom   Dark    Fire  75      90       90      140
249  230                Kingdra  Water  Dragon  75      95       95       95

     Sp. Def  Speed  Generation  Legendary  Total
240       85     35           2      False    380
241       35     65           2      False    300
242       75     45           2      False    480
243       45     75           2      False    330
244      140     70           2      False    465
245       70     70           2      False    465
246       50     65           2      False    330
247       80     95           2      False    500
248       90    115           2      False    600
249       95     85           2      False    540
       #       Name    Type 1   Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
250  231     Phanpy    Ground      NaN  90      60       60       40       40
251  232    Donphan    Ground      NaN  90     120      120       60       60
252  233   Porygon2    Normal      NaN  85      80       90      105       95
253  234   Stantler    Normal      NaN  73      95       62       85       65
254  235   Smeargle    Normal      NaN  55      20       35       20       45
255  236    Tyrogue  Fighting      NaN  35      35       35       35       35
256  237  Hitmontop  Fighting      NaN  50      95       95       35      110
257  238   Smoochum       Ice  Psychic  45      30       15       85       65
258  239     Elekid  Electric      NaN  45      63       37       65       55
259  240      Magby      Fire      NaN  45      75       37       70       55

     Speed  Generation  Legendary  Total
250     40           2      False    330
251     50           2      False    500
252     60           2      False    515
253     85           2      False    465
254     75           2      False    250
255     35           2      False    210
256     70           2      False    455
257     65           2      False    305
258     95           2      False    360
259     83           2      False    365
       #                     Name    Type 1  Type 2   HP  Attack  Defense  \
260  241                  Miltank    Normal     NaN   95      80      105
261  242                  Blissey    Normal     NaN  255      10       10
262  243                   Raikou  Electric     NaN   90      85       75
263  244                    Entei      Fire     NaN  115     115       85
264  245                  Suicune     Water     NaN  100      75      115
265  246                 Larvitar      Rock  Ground   50      64       50
266  247                  Pupitar      Rock  Ground   70      84       70
267  248                Tyranitar      Rock    Dark  100     134      110
268  248  TyranitarMega Tyranitar      Rock    Dark  100     164      150
269  249                    Lugia   Psychic  Flying  106      90      130

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
260       40       70    100           2      False    490
261       75      135     55           2      False    540
262      115      100    115           2       True    580
263       90       75    100           2       True    580
264       90      115     85           2       True    580
265       45       50     41           2      False    300
266       65       70     51           2      False    410
267       95      100     61           2      False    600
268       95      120     71           2      False    700
269       90      154    110           2       True    680
       #                   Name   Type 1    Type 2   HP  Attack  Defense  \
270  250                  Ho-oh     Fire    Flying  106     130       90
271  251                 Celebi  Psychic     Grass  100     100      100
272  252                Treecko    Grass       NaN   40      45       35
273  253                Grovyle    Grass       NaN   50      65       45
274  254               Sceptile    Grass       NaN   70      85       65
275  254  SceptileMega Sceptile    Grass    Dragon   70     110       75
276  255                Torchic     Fire       NaN   45      60       40
277  256              Combusken     Fire  Fighting   60      85       60
278  257               Blaziken     Fire  Fighting   80     120       70
279  257  BlazikenMega Blaziken     Fire  Fighting   80     160       80

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
270      110      154     90           2       True    680
271      100      100    100           2      False    600
272       65       55     70           3      False    310
273       85       65     95           3      False    405
274      105       85    120           3      False    530
275      145       85    145           3      False    630
276       70       50     45           3      False    310
277       85       60     55           3      False    405
278      110       70     80           3      False    530
279      130       80    100           3      False    630
       #                   Name  Type 1  Type 2   HP  Attack  Defense  \
280  258                 Mudkip   Water     NaN   50      70       50
281  259              Marshtomp   Water  Ground   70      85       70
282  260               Swampert   Water  Ground  100     110       90
283  260  SwampertMega Swampert   Water  Ground  100     150      110
284  261              Poochyena    Dark     NaN   35      55       35
285  262              Mightyena    Dark     NaN   70      90       70
286  263              Zigzagoon  Normal     NaN   38      30       41
287  264                Linoone  Normal     NaN   78      70       61
288  265                Wurmple     Bug     NaN   45      45       35
289  266                Silcoon     Bug     NaN   50      35       55

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
280       50       50     40           3      False    310
281       60       70     50           3      False    405
282       85       90     60           3      False    535
283       95      110     70           3      False    635
284       30       30     35           3      False    220
285       60       60     70           3      False    420
286       30       41     60           3      False    240
287       50       61    100           3      False    420
288       20       30     20           3      False    195
289       25       25     15           3      False    205
       #       Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
290  267  Beautifly     Bug  Flying  60      70       50      100       50
291  268    Cascoon     Bug     NaN  50      35       55       25       25
292  269     Dustox     Bug  Poison  60      50       70       50       90
293  270      Lotad   Water   Grass  40      30       30       40       50
294  271     Lombre   Water   Grass  60      50       50       60       70
295  272   Ludicolo   Water   Grass  80      70       70       90      100
296  273     Seedot   Grass     NaN  40      40       50       30       30
297  274    Nuzleaf   Grass    Dark  70      70       40       60       40
298  275    Shiftry   Grass    Dark  90     100       60       90       60
299  276    Taillow  Normal  Flying  40      55       30       30       30

     Speed  Generation  Legendary  Total
290     65           3      False    395
291     15           3      False    205
292     65           3      False    385
293     30           3      False    220
294     50           3      False    340
295     70           3      False    480
296     30           3      False    220
297     60           3      False    340
298     80           3      False    480
299     85           3      False    270
       #                     Name   Type 1  Type 2  HP  Attack  Defense  \
300  277                  Swellow   Normal  Flying  60      85       60
301  278                  Wingull    Water  Flying  40      30       30
302  279                 Pelipper    Water  Flying  60      50      100
303  280                    Ralts  Psychic   Fairy  28      25       25
304  281                   Kirlia  Psychic   Fairy  38      35       35
305  282                Gardevoir  Psychic   Fairy  68      65       65
306  282  GardevoirMega Gardevoir  Psychic   Fairy  68      85       65
307  283                  Surskit      Bug   Water  40      30       32
308  284               Masquerain      Bug  Flying  70      60       62
309  285                Shroomish    Grass     NaN  60      40       60

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
300       50       50    125           3      False    430
301       55       30     85           3      False    270
302       85       70     65           3      False    430
303       45       35     40           3      False    198
304       65       55     50           3      False    278
305      125      115     80           3      False    518
306      165      135    100           3      False    618
307       50       52     65           3      False    269
308       80       82     60           3      False    414
309       40       60     35           3      False    295
       #      Name  Type 1    Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
310  286   Breloom   Grass  Fighting   60     130       80       60       60
311  287   Slakoth  Normal       NaN   60      60       60       35       35
312  288  Vigoroth  Normal       NaN   80      80       80       55       55
313  289   Slaking  Normal       NaN  150     160      100       95       65
314  290   Nincada     Bug    Ground   31      45       90       30       30
315  291   Ninjask     Bug    Flying   61      90       45       50       50
316  292  Shedinja     Bug     Ghost    1      90       45       30       30
317  293   Whismur  Normal       NaN   64      51       23       51       23
318  294   Loudred  Normal       NaN   84      71       43       71       43
319  295   Exploud  Normal       NaN  104      91       63       91       73

     Speed  Generation  Legendary  Total
310     70           3      False    460
311     30           3      False    280
312     90           3      False    440
313    100           3      False    670
314     40           3      False    266
315    160           3      False    456
316     40           3      False    236
317     28           3      False    240
318     48           3      False    360
319     68           3      False    490
       #                 Name    Type 1 Type 2   HP  Attack  Defense  Sp. Atk  \
320  296             Makuhita  Fighting    NaN   72      60       30       20
321  297             Hariyama  Fighting    NaN  144     120       60       40
322  298              Azurill    Normal  Fairy   50      20       40       20
323  299             Nosepass      Rock    NaN   30      45      135       45
324  300               Skitty    Normal    NaN   50      45       45       35
325  301             Delcatty    Normal    NaN   70      65       65       55
326  302              Sableye      Dark  Ghost   50      75       75       65
327  302  SableyeMega Sableye      Dark  Ghost   50      85      125       85
328  303               Mawile     Steel  Fairy   50      85       85       55
329  303    MawileMega Mawile     Steel  Fairy   50     105      125       55

     Sp. Def  Speed  Generation  Legendary  Total
320       30     25           3      False    237
321       60     50           3      False    474
322       40     20           3      False    190
323       90     30           3      False    375
324       35     50           3      False    260
325       55     70           3      False    380
326       65     50           3      False    380
327      115     20           3      False    480
328       55     50           3      False    380
329       95     50           3      False    480
       #                     Name    Type 1   Type 2  HP  Attack  Defense  \
330  304                     Aron     Steel     Rock  50      70      100
331  305                   Lairon     Steel     Rock  60      90      140
332  306                   Aggron     Steel     Rock  70     110      180
333  306        AggronMega Aggron     Steel      NaN  70     140      230
334  307                 Meditite  Fighting  Psychic  30      40       55
335  308                 Medicham  Fighting  Psychic  60      60       75
336  308    MedichamMega Medicham  Fighting  Psychic  60     100       85
337  309                Electrike  Electric      NaN  40      45       40
338  310                Manectric  Electric      NaN  70      75       60
339  310  ManectricMega Manectric  Electric      NaN  70      75       80

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
330       40       40     30           3      False    330
331       50       50     40           3      False    430
332       60       60     50           3      False    530
333       60       80     50           3      False    630
334       40       55     60           3      False    280
335       60       75     80           3      False    410
336       80       85    100           3      False    510
337       65       40     65           3      False    295
338      105       60    105           3      False    475
339      135       80    135           3      False    575
       #                   Name    Type 1  Type 2   HP  Attack  Defense  \
340  311                 Plusle  Electric     NaN   60      50       40
341  312                  Minun  Electric     NaN   60      40       50
342  313                Volbeat       Bug     NaN   65      73       55
343  314               Illumise       Bug     NaN   65      47       55
344  315                Roselia     Grass  Poison   50      60       45
345  316                 Gulpin    Poison     NaN   70      43       53
346  317                 Swalot    Poison     NaN  100      73       83
347  318               Carvanha     Water    Dark   45      90       20
348  319               Sharpedo     Water    Dark   70     120       40
349  319  SharpedoMega Sharpedo     Water    Dark   70     140       70

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
340       85       75     95           3      False    405
341       75       85     95           3      False    405
342       47       75     85           3      False    400
343       73       75     85           3      False    400
344      100       80     65           3      False    400
345       43       53     40           3      False    302
346       73       83     55           3      False    467
347       65       20     65           3      False    305
348       95       40     95           3      False    460
349      110       65    105           3      False    560
       #                   Name   Type 1  Type 2   HP  Attack  Defense  \
350  320                Wailmer    Water     NaN  130      70       35
351  321                Wailord    Water     NaN  170      90       45
352  322                  Numel     Fire  Ground   60      60       40
353  323               Camerupt     Fire  Ground   70     100       70
354  323  CameruptMega Camerupt     Fire  Ground   70     120      100
355  324                Torkoal     Fire     NaN   70      85      140
356  325                 Spoink  Psychic     NaN   60      25       35
357  326                Grumpig  Psychic     NaN   80      45       65
358  327                 Spinda   Normal     NaN   60      60       60
359  328               Trapinch   Ground     NaN   45     100       45

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
350       70       35     60           3      False    400
351       90       45     60           3      False    500
352       65       45     35           3      False    305
353      105       75     40           3      False    460
354      145      105     20           3      False    560
355       85       70     20           3      False    470
356       70       80     60           3      False    330
357       90      110     80           3      False    470
358       60       60     60           3      False    360
359       45       45     10           3      False    290
       #                 Name  Type 1   Type 2  HP  Attack  Defense  Sp. Atk  \
360  329              Vibrava  Ground   Dragon  50      70       50       50
361  330               Flygon  Ground   Dragon  80     100       80       80
362  331               Cacnea   Grass      NaN  50      85       40       85
363  332             Cacturne   Grass     Dark  70     115       60      115
364  333               Swablu  Normal   Flying  45      40       60       40
365  334              Altaria  Dragon   Flying  75      70       90       70
366  334  AltariaMega Altaria  Dragon    Fairy  75     110      110      110
367  335             Zangoose  Normal      NaN  73     115       60       60
368  336              Seviper  Poison      NaN  73     100       60      100
369  337             Lunatone    Rock  Psychic  70      55       65       95

     Sp. Def  Speed  Generation  Legendary  Total
360       50     70           3      False    340
361       80    100           3      False    520
362       40     35           3      False    335
363       60     55           3      False    475
364       75     50           3      False    310
365      105     80           3      False    490
366      105     80           3      False    590
367       60     90           3      False    458
368       60     65           3      False    458
369       85     70           3      False    440
       #       Name  Type 1   Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
370  338    Solrock    Rock  Psychic   70      95       85       55       65
371  339   Barboach   Water   Ground   50      48       43       46       41

       #                     Name  Type 1   Type 2  HP  Attack  Defense  \
410  374                   Beldum   Steel  Psychic  40      55       80
411  375                   Metang   Steel  Psychic  60      75      100
412  376                Metagross   Steel  Psychic  80     135      130
413  376  MetagrossMega Metagross   Steel  Psychic  80     145      150
414  377                 Regirock    Rock      NaN  80     100      200
415  378                   Regice     Ice      NaN  80      50      100
416  379                Registeel   Steel      NaN  80      75      150
417  380                   Latias  Dragon  Psychic  80      80       90
418  380        LatiasMega Latias  Dragon  Psychic  80     100      120
419  381                   Latios  Dragon  Psychic  80      90       80

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
410       35       60     30           3      False    300
411       55       80     50           3      False    420
412       95       90     70           3      False    600
413      105      110    110           3      False    700
414       50      100     50           3       True    580
415      100      200     50           3       True    580
416       75      150     50           3       True    580
417      110      130    110           3       True    600
418      140      150    110           3       True    700
419      130      110    110           3       True    600
       #                   Name   Type 1   Type 2   HP  Attack  Defense  \
420  381      LatiosMega Latios   Dragon  Psychic   80     130      100
421  382                 Kyogre    Water      NaN  100     100       90
422  382    KyogrePrimal Kyogre    Water      NaN  100     150       90
423  383                Groudon   Ground      NaN  100     150      140
424  383  GroudonPrimal Groudon   Ground     Fire  100     180      160
425  384               Rayquaza   Dragon   Flying  105     150       90
426  384  RayquazaMega Rayquaza   Dragon   Flying  105     180      100
427  385                Jirachi    Steel  Psychic  100     100      100
428  386     DeoxysNormal Forme  Psychic      NaN   50     150       50
429  386     DeoxysAttack Forme  Psychic      NaN   50     180       20

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
420      160      120    110           3       True    700
421      150      140     90           3       True    670
422      180      160     90           3       True    770
423      100       90     90           3       True    670
424      150       90     90           3       True    770
425      150       90     95           3       True    680
426      180      100    115           3       True    780
427      100      100    100           3       True    600
428      150       50    150           3       True    600
429      180       20    150           3       True    600
       #                 Name   Type 1    Type 2  HP  Attack  Defense  \
430  386  DeoxysDefense Forme  Psychic       NaN  50      70      160
431  386    DeoxysSpeed Forme  Psychic       NaN  50      95       90
432  387              Turtwig    Grass       NaN  55      68       64
433  388               Grotle    Grass       NaN  75      89       85
434  389             Torterra    Grass    Ground  95     109      105
435  390             Chimchar     Fire       NaN  44      58       44
436  391             Monferno     Fire  Fighting  64      78       52
437  392            Infernape     Fire  Fighting  76     104       71
438  393               Piplup    Water       NaN  53      51       53
439  394             Prinplup    Water       NaN  64      66       68

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
430       70      160     90           3       True    600
431       95       90    180           3       True    600
432       45       55     31           4      False    318
433       55       65     36           4      False    405
434       75       85     56           4      False    525
435       58       44     61           4      False    309
436       78       52     81           4      False    405
437      104       71    108           4      False    534
438       61       56     40           4      False    314
439       81       76     50           4      False    405
       #        Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
440  395    Empoleon     Water   Steel  84      86       88      111      101
441  396      Starly    Normal  Flying  40      55       30       30       30
442  397    Staravia    Normal  Flying  55      75       50       40       40
443  398   Staraptor    Normal  Flying  85     120       70       50       60
444  399      Bidoof    Normal     NaN  59      45       40       35       40
445  400     Bibarel    Normal   Water  79      85       60       55       60
446  401   Kricketot       Bug     NaN  37      25       41       25       41
447  402  Kricketune       Bug     NaN  77      85       51       55       51
448  403       Shinx  Electric     NaN  45      65       34       40       34
449  404       Luxio  Electric     NaN  60      85       49       60       49

     Speed  Generation  Legendary  Total
440     60           4      False    530
441     60           4      False    245
442     80           4      False    340
443    100           4      False    485
444     31           4      False    250
445     71           4      False    410
446     25           4      False    194
447     65           4      False    384
448     45           4      False    263
449     60           4      False    363
       #                 Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
450  405               Luxray  Electric     NaN  80     120       79       95
451  406                Budew     Grass  Poison  40      30       35       50
452  407             Roserade     Grass  Poison  60      70       65      125
453  408             Cranidos      Rock     NaN  67     125       40       30
454  409            Rampardos      Rock     NaN  97     165       60       65
455  410             Shieldon      Rock   Steel  30      42      118       42
456  411            Bastiodon      Rock   Steel  60      52      168       47
457  412                Burmy       Bug     NaN  40      29       45       29
458  413  WormadamPlant Cloak       Bug   Grass  60      59       85       79
459  413  WormadamSandy Cloak       Bug  Ground  60      79      105       59

     Sp. Def  Speed  Generation  Legendary  Total
450       79     70           4      False    523
451       70     55           4      False    280
452      105     90           4      False    515
453       30     58           4      False    350
454       50     58           4      False    495
455       88     30           4      False    350
456      138     30           4      False    495
457       45     36           4      False    224
458      105     36           4      False    424
459       85     36           4      False    424
       #                 Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
460  413  WormadamTrash Cloak       Bug   Steel  60      69       95       69
461  414               Mothim       Bug  Flying  70      94       50       94
462  415               Combee       Bug  Flying  30      30       42       30
463  416            Vespiquen       Bug  Flying  70      80      102       80
464  417            Pachirisu  Electric     NaN  60      45       70       45
465  418               Buizel     Water     NaN  55      65       35       60
466  419             Floatzel     Water     NaN  85     105       55       85
467  420              Cherubi     Grass     NaN  45      35       45       62
468  421              Cherrim     Grass     NaN  70      60       70       87
469  422              Shellos     Water     NaN  76      48       48       57

     Sp. Def  Speed  Generation  Legendary  Total
460       95     36           4      False    424
461       50     66           4      False    424
462       42     70           4      False    244
463      102     40           4      False    474
464       90     95           4      False    405
465       30     85           4      False    330
466       50    115           4      False    495
467       53     35           4      False    275
468       78     85           4      False    450
469       62     34           4      False    325
       #                 Name  Type 1    Type 2   HP  Attack  Defense  \
470  423            Gastrodon   Water    Ground  111      83       68
471  424              Ambipom  Normal       NaN   75     100       66
472  425             Drifloon   Ghost    Flying   90      50       34
473  426             Drifblim   Ghost    Flying  150      80       44
474  427              Buneary  Normal       NaN   55      66       44
475  428              Lopunny  Normal       NaN   65      76       84
476  428  LopunnyMega Lopunny  Normal  Fighting   65     136       94
477  429            Mismagius   Ghost       NaN   60      60       60
478  430            Honchkrow    Dark    Flying  100     125       52
479  431              Glameow  Normal       NaN   49      55       42

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
470       92       82     39           4      False    475
471       60       66    115           4      False    482
472       60       44     70           4      False    348
473       90       54     80           4      False    498
474       44       56     85           4      False    350
475       54       96    105           4      False    480
476       54       96    135           4      False    580
477      105      105    105           4      False    495
478      105       52     71           4      False    505
479       42       37     85           4      False    310
       #       Name   Type 1   Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
480  432    Purugly   Normal      NaN   71      82       64       64       59
481  433  Chingling  Psychic      NaN   45      30       50       65       50
482  434     Stunky   Poison     Dark   63      63       47       41       41
483  435   Skuntank   Poison     Dark  103      93       67       71       61
484  436    Bronzor    Steel  Psychic   57      24       86       24       86
485  437   Bronzong    Steel  Psychic   67      89      116       79      116
486  438     Bonsly     Rock      NaN   50      80       95       10       45
487  439   Mime Jr.  Psychic    Fairy   20      25       45       70       90
488  440    Happiny   Normal      NaN  100       5        5       15       65
489  441     Chatot   Normal   Flying   76      65       45       92       42

     Speed  Generation  Legendary  Total
480    112           4      False    452
481     45           4      False    285
482     74           4      False    329
483     84           4      False    479
484     23           4      False    300
485     33           4      False    500
486     10           4      False    290
487     60           4      False    310
488     30           4      False    220
489     91           4      False    411
       #                   Name    Type 1  Type 2   HP  Attack  Defense  \
490  442              Spiritomb     Ghost    Dark   50      92      108
491  443                  Gible    Dragon  Ground   58      70       45
492  444                 Gabite    Dragon  Ground   68      90       65
493  445               Garchomp    Dragon  Ground  108     130       95
494  445  GarchompMega Garchomp    Dragon  Ground  108     170      115
495  446               Munchlax    Normal     NaN  135      85       40
496  447                  Riolu  Fighting     NaN   40      70       40
497  448                Lucario  Fighting   Steel   70     110       70
498  448    LucarioMega Lucario  Fighting   Steel   70     145       88
499  449             Hippopotas    Ground     NaN   68      72       78

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
490       92      108     35           4      False    485
491       40       45     42           4      False    300
492       50       55     82           4      False    410
493       80       85    102           4      False    600
494      120       95     92           4      False    700
495       40       85      5           4      False    390
496       35       40     60           4      False    285
497      115       70     90           4      False    525
498      140       70    112           4      False    625
499       38       42     32           4      False    330
       #       Name  Type 1    Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
500  450  Hippowdon  Ground       NaN  108     112      118       68       72
501  451    Skorupi  Poison       Bug   40      50       90       30       55
502  452    Drapion  Poison      Dark   70      90      110       60       75
503  453   Croagunk  Poison  Fighting   48      61       40       61       40
504  454  Toxicroak  Poison  Fighting   83     106       65       86       65
505  455  Carnivine   Grass       NaN   74     100       72       90       72
506  456    Finneon   Water       NaN   49      49       56       49       61
507  457   Lumineon   Water       NaN   69      69       76       69       86
508  458    Mantyke   Water    Flying   45      20       50       60      120
509  459     Snover   Grass       Ice   60      62       50       62       60

     Speed  Generation  Legendary  Total
500     47           4      False    525
501     65           4      False    330
502     95           4      False    500
503     50           4      False    300
504     85           4      False    490
505     46           4      False    454
506     66           4      False    330
507     91           4      False    460
508     50           4      False    345
509     40           4      False    334
       #                     Name    Type 1  Type 2   HP  Attack  Defense  \
510  460                Abomasnow     Grass     Ice   90      92       75
511  460  AbomasnowMega Abomasnow     Grass     Ice   90     132      105
512  461                  Weavile      Dark     Ice   70     120       65
513  462                Magnezone  Electric   Steel   70      70      115
514  463               Lickilicky    Normal     NaN  110      85       95
515  464                Rhyperior    Ground    Rock  115     140      130
516  465                Tangrowth     Grass     NaN  100     100      125
517  466               Electivire  Electric     NaN   75     123       67
518  467                Magmortar      Fire     NaN   75      95       67
519  468                 Togekiss     Fairy  Flying   85      50       95

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
510       92       85     60           4      False    494
511      132      105     30           4      False    594
512       45       85    125           4      False    510
513      130       90     60           4      False    535
514       80       95     50           4      False    515
515       55       55     40           4      False    535
516      110       50     50           4      False    535
517       95       85     95           4      False    540
518      125       95     83           4      False    540
519      120      115     80           4      False    545
       #                 Name   Type 1    Type 2   HP  Attack  Defense  \
520  469              Yanmega      Bug    Flying   86      76       86
521  470              Leafeon    Grass       NaN   65     110      130
522  471              Glaceon      Ice       NaN   65      60      110
523  472              Gliscor   Ground    Flying   75      95      125
524  473            Mamoswine      Ice    Ground  110     130       80
525  474            Porygon-Z   Normal       NaN   85      80       70
526  475              Gallade  Psychic  Fighting   68     125       65
527  475  GalladeMega Gallade  Psychic  Fighting   68     165       95
528  476            Probopass     Rock     Steel   60      55      145
529  477             Dusknoir    Ghost       NaN   45     100      135

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
520      116       56     95           4      False    515
521       60       65     95           4      False    525
522      130       95     65           4      False    525
523       45       75     95           4      False    510
524       70       60     80           4      False    530
525      135       75     90           4      False    535
526       65      115     80           4      False    518
527       65      115    110           4      False    618
528       75      150     40           4      False    525
529       65      135     45           4      False    525
       #              Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
530  478          Froslass       Ice   Ghost  70      80       70       80
531  479             Rotom  Electric   Ghost  50      50       77       95
532  479   RotomHeat Rotom  Electric    Fire  50      65      107      105
533  479   RotomWash Rotom  Electric   Water  50      65      107      105
534  479  RotomFrost Rotom  Electric     Ice  50      65      107      105
535  479    RotomFan Rotom  Electric  Flying  50      65      107      105
536  479    RotomMow Rotom  Electric   Grass  50      65      107      105
537  480              Uxie   Psychic     NaN  75      75      130       75
538  481           Mesprit   Psychic     NaN  80     105      105      105
539  482             Azelf   Psychic     NaN  75     125       70      125

     Sp. Def  Speed  Generation  Legendary  Total
530       70    110           4      False    480
531       77     91           4      False    440
532      107     86           4      False    520
533      107     86           4      False    520
534      107     86           4      False    520
535      107     86           4      False    520
536      107     86           4      False    520
537      130     95           4       True    580
538      105     80           4       True    580
539       70    115           4       True    580
       #                   Name   Type 1  Type 2   HP  Attack  Defense  \
540  483                 Dialga    Steel  Dragon  100     120      120
541  484                 Palkia    Water  Dragon   90     120      100
542  485                Heatran     Fire   Steel   91      90      106
543  486              Regigigas   Normal     NaN  110     160      110
544  487  GiratinaAltered Forme    Ghost  Dragon  150     100      120
545  487   GiratinaOrigin Forme    Ghost  Dragon  150     120      100
546  488              Cresselia  Psychic     NaN  120      70      120
547  489                 Phione    Water     NaN   80      80       80
548  490                Manaphy    Water     NaN  100     100      100
549  491                Darkrai     Dark     NaN   70      90       90

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
540      150      100     90           4       True    680
541      150      120    100           4       True    680
542      130      106     77           4       True    600
543       80      110    100           4       True    670
544      100      120     90           4       True    680
545      120      100     90           4       True    680
546       75      130     85           4      False    600
547       80       80     80           4      False    480
548      100      100    100           4      False    600
549      135       90    125           4       True    600
       #               Name   Type 1    Type 2   HP  Attack  Defense  Sp. Atk  \
550  492  ShayminLand Forme    Grass       NaN  100     100      100      100
551  492   ShayminSky Forme    Grass    Flying  100     103       75      120
552  493             Arceus   Normal       NaN  120     120      120      120

       #        Name  Type 1    Type 2   HP  Attack  Defense  Sp. Atk  \
670  609  Chandelure   Ghost      Fire   60      55       90      145
671  610        Axew  Dragon       NaN   46      87       60       30
672  611     Fraxure  Dragon       NaN   66     117       70       40
673  612     Haxorus  Dragon       NaN   76     147       90       60
674  613     Cubchoo     Ice       NaN   55      70       40       60
675  614     Beartic     Ice       NaN   95     110       80       70
676  615   Cryogonal     Ice       NaN   70      50       30       95
677  616     Shelmet     Bug       NaN   50      40       85       40
678  617    Accelgor     Bug       NaN   80      70       40      100
679  618    Stunfisk  Ground  Electric  109      66       84       81

     Sp. Def  Speed  Generation  Legendary  Total
670       90     80           5      False    520
671       40     57           5      False    320
672       50     67           5      False    410
673       70     97           5      False    540
674       40     40           5      False    305
675       80     50           5      False    485
676      135    105           5      False    485
677       65     25           5      False    305
678       60    145           5      False    495
679       99     32           5      False    471
       #        Name    Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
680  619     Mienfoo  Fighting     NaN   45      85       50       55
681  620    Mienshao  Fighting     NaN   65     125       60       95
682  621   Druddigon    Dragon     NaN   77     120       90       60
683  622      Golett    Ground   Ghost   59      74       50       35
684  623      Golurk    Ground   Ghost   89     124       80       55
685  624    Pawniard      Dark   Steel   45      85       70       40
686  625     Bisharp      Dark   Steel   65     125      100       60
687  626  Bouffalant    Normal     NaN   95     110       95       40
688  627     Rufflet    Normal  Flying   70      83       50       37
689  628    Braviary    Normal  Flying  100     123       75       57

     Sp. Def  Speed  Generation  Legendary  Total
680       50     65           5      False    350
681       60    105           5      False    510
682       90     48           5      False    485
683       50     35           5      False    303
684       80     55           5      False    483
685       40     60           5      False    340
686       70     70           5      False    490
687       95     55           5      False    490
688       50     60           5      False    350
689       75     80           5      False    510
       #       Name Type 1    Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
690  629    Vullaby   Dark    Flying   70      55       75       45       65
691  630  Mandibuzz   Dark    Flying  110      65      105       55       95
692  631    Heatmor   Fire       NaN   85      97       66      105       66
693  632     Durant    Bug     Steel   58     109      112       48       48
694  633      Deino   Dark    Dragon   52      65       50       45       50
695  634   Zweilous   Dark    Dragon   72      85       70       65       70
696  635  Hydreigon   Dark    Dragon   92     105       90      125       90
697  636   Larvesta    Bug      Fire   55      85       55       50       55
698  637  Volcarona    Bug      Fire   85      60       65      135      105
699  638   Cobalion  Steel  Fighting   91      90      129       90       72

     Speed  Generation  Legendary  Total
690     60           5      False    370
691     80           5      False    510
692     65           5      False    484
693    109           5      False    484
694     38           5      False    300
695     58           5      False    420
696     98           5      False    600
697     60           5      False    360
698    100           5      False    550
699    108           5       True    580
       #                      Name    Type 1    Type 2   HP  Attack  Defense  \
700  639                 Terrakion      Rock  Fighting   91     129       90
701  640                  Virizion     Grass  Fighting   91      90       72
702  641   TornadusIncarnate Forme    Flying       NaN   79     115       70
703  641     TornadusTherian Forme    Flying       NaN   79     100       80
704  642  ThundurusIncarnate Forme  Electric    Flying   79     115       70
705  642    ThundurusTherian Forme  Electric    Flying   79     105       70
706  643                  Reshiram    Dragon      Fire  100     120      100
707  644                    Zekrom    Dragon  Electric  100     150      120
708  645   LandorusIncarnate Forme    Ground    Flying   89     125       90
709  645     LandorusTherian Forme    Ground    Flying   89     145       90

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
700       72       90    108           5       True    580
701       90      129    108           5       True    580
702      125       80    111           5       True    580
703      110       90    121           5       True    580
704      125       80    111           5       True    580
705      145       80    101           5       True    580
706      150      120     90           5       True    680
707      120      100     90           5       True    680
708      115       80    101           5       True    600
709      105       80     91           5       True    600
       #                     Name  Type 1    Type 2   HP  Attack  Defense  \
710  646                   Kyurem  Dragon       Ice  125     130       90
711  646       KyuremBlack Kyurem  Dragon       Ice  125     170      100
712  646       KyuremWhite Kyurem  Dragon       Ice  125     120       90
713  647     KeldeoOrdinary Forme   Water  Fighting   91      72       90
714  647     KeldeoResolute Forme   Water  Fighting   91      72       90
715  648       MeloettaAria Forme  Normal   Psychic  100      77       77
716  648  MeloettaPirouette Forme  Normal  Fighting  100     128       90
717  649                 Genesect     Bug     Steel   71     120       95
718  650                  Chespin   Grass       NaN   56      61       65
719  651                Quilladin   Grass       NaN   61      78       95

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
710      130       90     95           5       True    660
711      120       90     95           5       True    700
712      170      100     95           5       True    700
713      129       90    108           5      False    580
714      129       90    108           5      False    580
715      128      128     90           5      False    600
716       77       77    128           5      False    600
717      120       95     99           5      False    600
718       48       45     38           6      False    313
719       56       58     57           6      False    405
       #        Name  Type 1    Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
720  652  Chesnaught   Grass  Fighting  88     107      122       74       75
721  653    Fennekin    Fire       NaN  40      45       40       62       60
722  654     Braixen    Fire       NaN  59      59       58       90       70
723  655     Delphox    Fire   Psychic  75      69       72      114      100
724  656     Froakie   Water       NaN  41      56       40       62       44
725  657   Frogadier   Water       NaN  54      63       52       83       56
726  658    Greninja   Water      Dark  72      95       67      103       71
727  659    Bunnelby  Normal       NaN  38      36       38       32       36
728  660   Diggersby  Normal    Ground  85      56       77       50       77
729  661  Fletchling  Normal    Flying  45      50       43       40       38

     Speed  Generation  Legendary  Total
720     64           6      False    530
721     60           6      False    307
722     73           6      False    409
723    104           6      False    534
724     71           6      False    314
725     97           6      False    405
726    122           6      False    530
727     57           6      False    237
728     78           6      False    423
729     62           6      False    278
       #         Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
730  662  Fletchinder   Fire  Flying  62      73       55       56       52
731  663   Talonflame   Fire  Flying  78      81       71       74       69
732  664   Scatterbug    Bug     NaN  38      35       40       27       25
733  665       Spewpa    Bug     NaN  45      22       60       27       30
734  666     Vivillon    Bug  Flying  80      52       50       90       50
735  667       Litleo   Fire  Normal  62      50       58       73       54
736  668       Pyroar   Fire  Normal  86      68       72      109       66
737  669      Flabébé  Fairy     NaN  44      38       39       61       79
738  670      Floette  Fairy     NaN  54      45       47       75       98
739  671      Florges  Fairy     NaN  78      65       68      112      154

     Speed  Generation  Legendary  Total
730     84           6      False    382
731    126           6      False    499
732     35           6      False    200
733     29           6      False    213
734     89           6      False    411
735     72           6      False    369
736    106           6      False    507
737     42           6      False    303
738     52           6      False    371
739     75           6      False    552
       #            Name    Type 1 Type 2   HP  Attack  Defense  Sp. Atk  \
740  672          Skiddo     Grass    NaN   66      65       48       62
741  673          Gogoat     Grass    NaN  123     100       62       97
742  674         Pancham  Fighting    NaN   67      82       62       46
743  675         Pangoro  Fighting   Dark   95     124       78       69
744  676         Furfrou    Normal    NaN   75      80       60       65
745  677          Espurr   Psychic    NaN   62      48       54       63
746  678    MeowsticMale   Psychic    NaN   74      48       76       83
747  678  MeowsticFemale   Psychic    NaN   74      48       76       83
748  679         Honedge     Steel  Ghost   45      80      100       35
749  680        Doublade     Steel  Ghost   59     110      150       45

     Sp. Def  Speed  Generation  Legendary  Total
740       57     52           6      False    350
741       81     68           6      False    531
742       48     43           6      False    348
743       71     58           6      False    495
744       90    102           6      False    472
745       60     68           6      False    355
746       81    104           6      False    466
747       81    104           6      False    466
748       37     28           6      False    325
749       49     35           6      False    448
       #                   Name Type 1   Type 2   HP  Attack  Defense  \
750  681   AegislashBlade Forme  Steel    Ghost   60     150       50
751  681  AegislashShield Forme  Steel    Ghost   60      50      150
752  682               Spritzee  Fairy      NaN   78      52       60
753  683             Aromatisse  Fairy      NaN  101      72       72
754  684                Swirlix  Fairy      NaN   62      48       66
755  685               Slurpuff  Fairy      NaN   82      80       86
756  686                  Inkay   Dark  Psychic   53      54       53
757  687                Malamar   Dark  Psychic   86      92       88
758  688                Binacle   Rock    Water   42      52       67
759  689             Barbaracle   Rock    Water   72     105      115

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
750      150       50     60           6      False    520
751       50      150     60           6      False    520
752       63       65     23           6      False    341
753       99       89     29           6      False    462
754       59       57     49           6      False    341
755       85       75     72           6      False    480
756       37       46     45           6      False    288
757       68       75     73           6      False    482
758       39       56     50           6      False    306
759       54       86     68           6      False    500
       #        Name    Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
760  690      Skrelp    Poison   Water   50      60       60       60
761  691    Dragalge    Poison  Dragon   65      75       90       97
762  692   Clauncher     Water     NaN   50      53       62       58
763  693   Clawitzer     Water     NaN   71      73       88      120
764  694  Helioptile  Electric  Normal   44      38       33       61
765  695   Heliolisk  Electric  Normal   62      55       52      109
766  696      Tyrunt      Rock  Dragon   58      89       77       45
767  697   Tyrantrum      Rock  Dragon   82     121      119       69
768  698      Amaura      Rock     Ice   77      59       50       67
769  699     Aurorus      Rock     Ice  123      77       72       99

     Sp. Def  Speed  Generation  Legendary  Total
760       60     30           6      False    320
761      123     44           6      False    494
762       63     44           6      False    330
763       89     59           6      False    500
764       43     70           6      False    289
765       94    109           6      False    481
766       45     48           6      False    362
767       59     71           6      False    521
768       63     46           6      False    362
769       92     58           6      False    521
       #       Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
770  700    Sylveon     Fairy     NaN  95      65       65      110      130
771  701   Hawlucha  Fighting  Flying  78      92       75       74       63
772  702    Dedenne  Electric   Fairy  67      58       57       81       67
773  703    Carbink      Rock   Fairy  50      50      150       50      150
774  704      Goomy    Dragon     NaN  45      50       35       55       75
775  705    Sliggoo    Dragon     NaN  68      75       53       83      113
776  706     Goodra    Dragon     NaN  90     100       70      110      150
777  707     Klefki     Steel   Fairy  57      80       91       80       87
778  708   Phantump     Ghost   Grass  43      70       48       50       60
779  709  Trevenant     Ghost   Grass  85     110       76       65       82

     Speed  Generation  Legendary  Total
770     60           6      False    525
771    118           6      False    500
772    101           6      False    431
773     50           6      False    500
774     40           6      False    300
775     60           6      False    452
776     80           6      False    600
777     75           6      False    470
778     38           6      False    309
779     56           6      False    474
       #                   Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
780  710  PumpkabooAverage Size  Ghost  Grass  49      66       70       44
781  710    PumpkabooSmall Size  Ghost  Grass  44      66       70       44
782  710    PumpkabooLarge Size  Ghost  Grass  54      66       70       44
783  710    PumpkabooSuper Size  Ghost  Grass  59      66       70       44
784  711  GourgeistAverage Size  Ghost  Grass  65      90      122       58
785  711    GourgeistSmall Size  Ghost  Grass  55      85      122       58
786  711    GourgeistLarge Size  Ghost  Grass  75      95      122       58
787  711    GourgeistSuper Size  Ghost  Grass  85     100      122       58
788  712               Bergmite    Ice    NaN  55      69       85       32
789  713                Avalugg    Ice    NaN  95     117      184       44

     Sp. Def  Speed  Generation  Legendary  Total
780       55     51           6      False    335
781       55     56           6      False    335
782       55     46           6      False    335
783       55     41           6      False    335
784       75     84           6      False    494
785       75     99           6      False    494
786       75     69           6      False    494
787       75     54           6      False    494
788       35     28           6      False    304
789       46     28           6      False    514
       #                 Name   Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
790  714               Noibat   Flying  Dragon   40      30       35       45
791  715              Noivern   Flying  Dragon   85      70       80       97
792  716              Xerneas    Fairy     NaN  126     131       95      131
793  717              Yveltal     Dark  Flying  126     131       95      131
794  718     Zygarde50% Forme   Dragon  Ground  108     100      121       81
795  719              Diancie     Rock   Fairy   50     100      150      100
796  719  DiancieMega Diancie     Rock   Fairy   50     160      110      160
797  720  HoopaHoopa Confined  Psychic   Ghost   80     110       60      150
798  720   HoopaHoopa Unbound  Psychic    Dark   80     160       60      170
799  721            Volcanion     Fire   Water   80     110      120      130

     Sp. Def  Speed  Generation  Legendary  Total
790       40     55           6      False    245
791       80    123           6      False    535
792       98     99           6       True    680
793       98     99           6       True    680
794       95     95           6       True    600
795      150     50           6       True    600
796      110    110           6       True    700
797      130     70           6       True    600
798      130     80           6       True    680
799       90     70           6       True    600

In [ ]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False,245
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False,535
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True,680
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,680
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [ ]:
df1 = pd.DataFrame()
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    df1 = pd.concat([df1 ,df])
df1.head(15)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,205

# Stack & unstack in Pandas

In [ ]:
col = pd.MultiIndex.from_product([['2010','2015'],['Literacy' , 'GDP']])

data =([[80,7,88,6],[90,8,92,7],[89,7,91,8],[87,6,93,8]])

df6 = pd.DataFrame(data, index=['India','USA' , 'Russia' , 'China'], columns=col)
df6

           2010         2015
       Literacy GDP Literacy GDP
India        80   7       88   6
USA          90   8       92   7
Russia       89   7       91   8
China        87   6       93   8

In [ ]:
# Stack() Function stacks the columns to rows.
st_df = df6.stack()
st_df

                 2010  2015
India  GDP          7     6
       Literacy    80    88
USA    GDP          8     7
       Literacy    90    92
Russia GDP          7     8
       Literacy    89    91
China  GDP          6     8
       Literacy    87    93

In [ ]:
#Unstacks the row to columns
unst_df = st_df.unstack()
unst_df

       2010          2015
        GDP Literacy  GDP Literacy
India     7       80    6       88
USA       8       90    7       92
Russia    7       89    8       91
China     6       87    8       93

In [ ]:
unst_df = unst_df.unstack()
unst_df

2010  GDP       India      7
                USA        8
                Russia     7
                China      6
      Literacy  India     80
                USA       90
                Russia    89
                China     87
2015  GDP       India      6
                USA        7
                Russia     8
                China      8
      Literacy  India     88
                USA       92
                Russia    91
                China     93
dtype: int64

In [ ]:
unst_df = unst_df.unstack()
unst_df

               India  USA  Russia  China
2010 GDP           7    8       7      6
     Literacy     80   90      89     87
2015 GDP           6    7       8      8
     Literacy     88   92      91     93

# PIVOT Tables

In [ ]:
data = {
    'Country':['India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China'],
    'Year':['2010','2010','2010','2010' , '2010','2010','2010','2010','2015','2015','2015','2015','2015','2015','2015','2015'],
     
    'Literacy/GDP':['GDP' , 'GDP' , 'GDP' , 'GDP','Literacy' , 'Literacy', 'Literacy' , 'Literacy','GDP' , 'GDP','GDP' , 'GDP','Literacy' , 'Literacy','Literacy' , 'Literacy'],
   'Value':[7,8,7,6,80,90,89,87,6,7,8, 8, 88 , 92 , 91 ,93]}
 
df7 = pd.DataFrame(data,columns=['Country','Year','Literacy/GDP','Value'])
df7

   Country  Year Literacy/GDP  Value
0    India  2010          GDP      7
1      USA  2010          GDP      8
2   Russia  2010          GDP      7
3    China  2010          GDP      6
4    India  2010     Literacy     80
5      USA  2010     Literacy     90
6   Russia  2010     Literacy     89
7    China  2010     Literacy     87
8    India  2015          GDP      6
9      USA  2015          GDP      7
10  Russia  2015          GDP      8
11   China  2015          GDP      8
12   India  2015     Literacy     88
13     USA  2015     Literacy     92
14  Russia  2015     Literacy     91
15   China  2015     Literacy     93

In [ ]:
# Pivot table with SUM aggregation
pd.pivot_table(df7 , index= ['Year' , 'Literacy/GDP'] , aggfunc='sum')

                   Value
Year Literacy/GDP
2010 GDP              28
     Literacy        346
2015 GDP              29
     Literacy        364

In [ ]:
# Pivot table with MEAN aggregation
pd.pivot_table(df7 , index= ['Year' , 'Literacy/GDP'] , aggfunc='mean')

                   Value
Year Literacy/GDP
2010 GDP            7.00
     Literacy      86.50
2015 GDP            7.25
     Literacy      91.00

# Hierarchical indexing

In [ ]:
df7

   Country  Year Literacy/GDP  Value
0    India  2010          GDP      7
1      USA  2010          GDP      8
2   Russia  2010          GDP      7
3    China  2010          GDP      6
4    India  2010     Literacy     80
5      USA  2010     Literacy     90
6   Russia  2010     Literacy     89
7    China  2010     Literacy     87
8    India  2015          GDP      6
9      USA  2015          GDP      7
10  Russia  2015          GDP      8
11   China  2015          GDP      8
12   India  2015     Literacy     88
13     USA  2015     Literacy     92
14  Russia  2015     Literacy     91
15   China  2015     Literacy     93

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP'])
df8

                  Country  Value
Year Literacy/GDP
2010 GDP            India      7
     GDP              USA      8
     GDP           Russia      7
     GDP            China      6
     Literacy       India     80
     Literacy         USA     90
     Literacy      Russia     89
     Literacy       China     87
2015 GDP            India      6
     GDP              USA      7
     GDP           Russia      8
     GDP            China      8
     Literacy       India     88
     Literacy         USA     92
     Literacy      Russia     91
     Literacy       China     93

In [ ]:
df8.index

MultiIndex(levels=[['2010', '2015'], ['GDP', 'Literacy']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1]],
           names=['Year', 'Literacy/GDP'])

In [ ]:
df8.loc['2010']

             Country  Value
Literacy/GDP
GDP            India      7
GDP              USA      8
GDP           Russia      7
GDP            China      6
Literacy       India     80
Literacy         USA     90
Literacy      Russia     89
Literacy       China     87

In [ ]:
df8.loc[['2010']]

                  Country  Value
Year Literacy/GDP
2010 GDP            India      7
     GDP              USA      8
     GDP           Russia      7
     GDP            China      6
     Literacy       India     80
     Literacy         USA     90
     Literacy      Russia     89
     Literacy       China     87

In [ ]:
df8.loc['2015','Literacy']

                  Country  Value
Year Literacy/GDP
2015 Literacy       India     88
     Literacy         USA     92
     Literacy      Russia     91
     Literacy       China     93

In [ ]:
df8.loc['2015','Literacy']

                  Country  Value
Year Literacy/GDP
2015 Literacy       India     88
     Literacy         USA     92
     Literacy      Russia     91
     Literacy       China     93

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP' , 'Country'])
df8

                           Value
Year Literacy/GDP Country
2010 GDP          India        7
                  USA          8
                  Russia       7
                  China        6
     Literacy     India       80
                  USA         90
                  Russia      89
                  China       87
2015 GDP          India        6
                  USA          7
                  Russia       8
                  China        8
     Literacy     India       88
                  USA         92
                  Russia      91
                  China       93

### SWAP Columns in Hierarchical indexing

In [ ]:
df7

   Country  Year Literacy/GDP  Value
0    India  2010          GDP      7
1      USA  2010          GDP      8
2   Russia  2010          GDP      7
3    China  2010          GDP      6
4    India  2010     Literacy     80
5      USA  2010     Literacy     90
6   Russia  2010     Literacy     89
7    China  2010     Literacy     87
8    India  2015          GDP      6
9      USA  2015          GDP      7
10  Russia  2015          GDP      8
11   China  2015          GDP      8
12   India  2015     Literacy     88
13     USA  2015     Literacy     92
14  Russia  2015     Literacy     91
15   China  2015     Literacy     93

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP'])
df8

                  Country  Value
Year Literacy/GDP
2010 GDP            India      7
     GDP              USA      8
     GDP           Russia      7
     GDP            China      6
     Literacy       India     80
     Literacy         USA     90
     Literacy      Russia     89
     Literacy       China     87
2015 GDP            India      6
     GDP              USA      7
     GDP           Russia      8
     GDP            China      8
     Literacy       India     88
     Literacy         USA     92
     Literacy      Russia     91
     Literacy       China     93

In [ ]:
# Swaping the columns in Hierarchical index
df9 = df8.swaplevel('Year', 'Literacy/GDP')
df9

                  Country  Value
Literacy/GDP Year
GDP          2010   India      7
             2010     USA      8
             2010  Russia      7
             2010   China      6
Literacy     2010   India     80
             2010     USA     90
             2010  Russia     89
             2010   China     87
GDP          2015   India      6
             2015     USA      7
             2015  Russia      8
             2015   China      8
Literacy     2015   India     88
             2015     USA     92
             2015  Russia     91
             2015   China     93

In [ ]:
# Swaping the columns in Hierarchical index
df9 = df9.swaplevel('Year', 'Literacy/GDP')
df9

                  Country  Value
Year Literacy/GDP
2010 GDP            India      7
     GDP              USA      8
     GDP           Russia      7
     GDP            China      6
     Literacy       India     80
     Literacy         USA     90
     Literacy      Russia     89
     Literacy       China     87
2015 GDP            India      6
     GDP              USA      7
     GDP           Russia      8
     GDP            China      8
     Literacy       India     88
     Literacy         USA     92
     Literacy      Russia     91
     Literacy       China     93

# Crosstab in Pandas

In [ ]:
df7

   Country  Year Literacy/GDP  Value
0    India  2010          GDP      7
1      USA  2010          GDP      8
2   Russia  2010          GDP      7
3    China  2010          GDP      6
4    India  2010     Literacy     80
5      USA  2010     Literacy     90
6   Russia  2010     Literacy     89
7    China  2010     Literacy     87
8    India  2015          GDP      6
9      USA  2015          GDP      7
10  Russia  2015          GDP      8
11   China  2015          GDP      8
12   India  2015     Literacy     88
13     USA  2015     Literacy     92
14  Russia  2015     Literacy     91
15   China  2015     Literacy     93

In [ ]:
pd.crosstab(df7['Literacy/GDP'] , df7.Value , margins=True)

Value         6  7  8  80  87  88  89  90  91  92  93  All
Literacy/GDP
GDP           2  3  3   0   0   0   0   0   0   0   0    8
Literacy      0  0  0   1   1   1   1   1   1   1   1    8
All           2  3  3   1   1   1   1   1   1   1   1   16

In [ ]:
# 2 way cross table
pd.crosstab(df7.Year , df7['Literacy/GDP'] , margins=True)

Literacy/GDP  GDP  Literacy  All
Year
2010            4         4    8
2015            4         4    8
All             8         8   16

In [ ]:
# 3 way cross table
pd.crosstab([df7.Year , df7['Literacy/GDP']] , df7.Country, margins=True)

Country            China  India  Russia  USA  All
Year Literacy/GDP
2010 GDP               1      1       1    1    4
     Literacy          1      1       1    1    4
2015 GDP               1      1       1    1    4
     Literacy          1      1       1    1    4
All                    4      4       4    4   16

# Row & Column Bind

### Row Bind

In [ ]:
df8 = pd.DataFrame({'ID' :[1,2,3,4] ,  'Name' :['Asif' , 'Basit' , 'Ross' , 'John'] , 'Score' :[99 , 66 , 44 , 33]})
df8

   ID   Name  Score
0   1   Asif     99
1   2  Basit     66
2   3   Ross     44
3   4   John     33

In [ ]:
df9 = pd.DataFrame({'ID' :[5,6,7,8] ,  'Name' :['Michelle' , 'Ramiro' , 'Vignesh' , 'Damon'] , 'Score' :[78 , 54 , 77 , 87]})
df9

   ID      Name  Score
0   5  Michelle     78
1   6    Ramiro     54
2   7   Vignesh     77
3   8     Damon     87

In [ ]:
# Row Bind with concat() function
pd.concat([df8 , df9])

   ID      Name  Score
0   1      Asif     99
1   2     Basit     66
2   3      Ross     44
3   4      John     33
0   5  Michelle     78
1   6    Ramiro     54
2   7   Vignesh     77
3   8     Damon     87

In [ ]:
# Row Bind with append() function
df8.append(df9)

   ID      Name  Score
0   1      Asif     99
1   2     Basit     66
2   3      Ross     44
3   4      John     33
0   5  Michelle     78
1   6    Ramiro     54
2   7   Vignesh     77
3   8     Damon     87

### Column Bind

In [ ]:
df10 = pd.DataFrame({'ID' :[1,2,3,4] , 'Name' :['Asif' , 'Basit' , 'Ross' , 'John']})
df10

   ID   Name
0   1   Asif
1   2  Basit
2   3   Ross
3   4   John

In [ ]:
df11 = pd.DataFrame({'Age' :[20,30,35,40] , 'Score' :[99 , 66 , 44 , 33]})
df11

   Age  Score
0   20     99
1   30     66
2   35     44
3   40     33

In [ ]:
pd.concat([df10,df11] , axis = 1)

   ID   Name  Age  Score
0   1   Asif   20     99
1   2  Basit   30     66
2   3   Ross   35     44
3   4   John   40     33